In [1]:
import numpy as np 
import pandas as pd
import datetime
import calendar
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
pd.set_option('display.max_columns', None)
%matplotlib inline

In [2]:
X_train = pd.read_csv('../data/X_train.csv', sep=',', encoding='utf-8')
target = pd.read_csv('../data/target.csv', sep=',', encoding='utf-8')
X_test = pd.read_csv('../data/X_test.csv', sep=',', encoding='utf-8')

In [3]:
print('train shape:', X_train.shape,'| target shape:', target.shape)
print('test shape:', X_test.shape)

train shape: (5998511, 27) | target shape: (5998511, 1)
test shape: (100000, 28)

Separamos la columna id para entrenar

In [4]:
X_test.duplicated('id').any()

False

In [5]:
ids = X_test[['id']]
X_test.drop('id', axis=1, inplace=True)

In [12]:
print('train shape:', X_train.shape,'| target shape:', target.shape)
print('test shape:', X_test.shape)

train shape: (5998511, 27) | target shape: (5998511, 1)
test shape: (100000, 27)

In [30]:
ids.to_csv('test_.csv', sep=',', encoding='utf-8')

In [31]:
X_test.shape

(100000, 23)

In [32]:
print(len(target[target['sepostulo'] == False]))
print(len(target[target['sepostulo'] == True]))

2998758
2999753

In [33]:
X_train.head(1)

,edad,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,idaviso,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_otro,tipo_part
0,26,0,0,1,1112422541,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,False,True,False

In [34]:
X_test.head(1)

,idaviso,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior
0,739260,42,1,0,0,0,0,0,0,0,0,1,1,0,0,True,False,False,0,1,0,0,0

## TEMPORAL: se eliminan las columnas con los arrays, decidir que hacer con este dato

In [13]:
X_train.drop(columns=['descripcion', 'titulo'], inplace=True)
X_test.drop(columns=['descripcion', 'titulo'], inplace=True)

In [14]:
X_train.head(1)

,edad,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,idaviso,idpostulante,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_otro,tipo_part
0,26,0,0,1,1112422541,Dr4jJwZ,0,0,0,0,1,Transporte,0,0,0,0,1,0,0,0,1,0,False,True,False

In [15]:
X_test.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior
0,739260,6M9ZQR,42,1,0,0,0,0,0,0,0,0,1,1,0,0,Comercial,True,False,False,0,1,0,0,0

In [16]:
# Solo para probar un submit elimino las columnas que no son numericas/booleanas
X_train.drop(columns=['nombre_area'], inplace=True)
X_test.drop(columns=['nombre_area'], inplace=True)

In [17]:
X_train.drop(columns=['idpostulante'], inplace=True)
X_test.drop(columns=['idpostulante'], inplace=True)

In [42]:
X_train = X_train.reindex_axis(sorted(X_train.columns), axis=1)
X_test = X_test.reindex_axis(sorted(X_test.columns), axis=1)

/home/tbotalla/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """Entry point for launching an IPython kernel.
/home/tbotalla/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.

In [43]:
print(X_train.isnull().values.any())
print(X_test.isnull().values.any())

False
False

In [44]:
X_train.head(1)

,edad,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,idaviso,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_otro,tipo_part
0,26,0,0,1,1112422541,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,False,True,False

In [45]:
X_test.head(1)

,edad,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,idaviso,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_otro,tipo_part
0,42,0,0,1,739260,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,True,False,False

In [46]:
target['sepostulo']

0           True
1           True
2           True
3           True
4           True
5           True
6           True
7           True
8           True
9           True
10          True
11          True
12          True
13          True
14          True
15          True
16          True
17          True
18          True
19          True
20          True
21          True
22          True
23          True
24          True
25          True
26          True
27          True
28          True
29          True
           ...
5998481    False
5998482    False
5998483    False
5998484    False
5998485    False
5998486    False
5998487    False
5998488    False
5998489    False
5998490    False
5998491    False
5998492    False
5998493    False
5998494    False
5998495    False
5998496    False
5998497    False
5998498    False
5998499    False
5998500    False
5998501    False
5998502    False
5998503    False
5998504    False
5998505    False
5998506    False
5998507    False
5998508    False
5998509    False
5998510    False
Name: sepostulo, Length: 5998511, dtype: bool

In [52]:
def predict(model,X_train,X_test,y):
    model.fit(X_train,y.values.ravel())
    return model.predict(X_test)

def pred_to_csv(prediction,name):
    test = pd.read_csv('test_.csv')
    df = pd.DataFrame(prediction,columns={'sepostulo'})
    df['id'] = test.id
    df = df.loc[:,['id','sepostulo']]
    df.sepostulo = df.sepostulo.astype(int)
    df.to_csv('pred_'+name+'.csv',index=False)

In [57]:
from sklearn.linear_model import SGDClassifier

pred = predict(SGDClassifier(), X_train, X_test, target)
pred_to_csv(pred,'SGD')

/home/tbotalla/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [56]:
from sklearn.tree import DecisionTreeClassifier

pred = predict(DecisionTreeClassifier(), X_train, X_test, target)
pred_to_csv(pred,'DecisionTreeClassifier')

In [55]:
from sklearn.linear_model import LogisticRegression

pred = predict(LogisticRegression(), X_train, X_test, target)
pred_to_csv(pred,'LogisticRegression')

In [8]:
from sklearn.model_selection import cross_val_score, KFold
# seed para generar los mismos fold en cada cv
seed = 7
kfold = KFold(10,random_state=seed)
scoring = 'neg_mean_squared_error'
#scoring = 'jaccard_similarity_score'
def cv_score(model,X,y,cv):
#    MSE_score = cross_val_score(model,X,y,n_jobs=-1,cv=cv,scoring='neg_mean_squared_error').mean()
    return cross_val_score(model,X,y,n_jobs=-1,cv=cv,scoring=scoring,verbose=3).mean()
#    print('params:\n',model.get_params())
#    print('MSE score:\n',MSE_score)

In [ ]:
from sklearn.preprocessing import scale, normalize
X_train_std = scale(X_train)
X_test_std = scale(X_test)
#X_train_nrm = normalize(X_train)
#X_test_nrm = normalize(X_test)

In [ ]:
%%time
models = []
models.append(('DecTree',tree.DecisionTreeClassifier()))
scores = []
for name,model in models:
    print('################################',name,'################################')
    score = cv_score(model,X_train,target,cv=kfold)
    scores.append((name,score))

################################ DecTree ################################