In [1]:
import numpy as np 
import pandas as pd
import datetime
import calendar
import matplotlib.pyplot as plt
import seaborn as sns
import re # regex
from scipy.misc import imread
#from wordcloud import WordCloud, STOPWORDS # Wordcloud: pip install wordcloud
from collections import Counter

%matplotlib inline
pd.set_option('display.max_columns', None)

# Sets para entrenar

## Datos del TP 1

In [40]:
postulantes_educacion_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_3_vistas.csv', encoding='utf-8')
postulaciones_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_4_postulaciones.csv', encoding='utf-8')
avisos_online_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_5_avisos_online.csv', encoding='utf-8')
avisos_detalle_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv', encoding='utf-8')

## Datos hasta 15 abril

In [41]:
postulantes_educacion_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_3_vistas.csv', encoding='utf-8')
postulaciones_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_4_postulaciones.csv', encoding='utf-8')
avisos_online_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_5_avisos_online.csv', encoding='utf-8')
avisos_detalle_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_6_avisos_detalle.csv', encoding='utf-8')

# Sets para testear

## Datos desde 15 abril

In [42]:
postulantes_educacion_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_3_vistas.csv', encoding='utf-8')
avisos_detalle_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_6_avisos_detalle.csv', encoding='utf-8')

## 338 faltantes

In [43]:
# Estos registros solo aparecen en el set a predecir
avisos_detalle_338_faltantes = pd.read_csv('../data/datos_navent_fiuba/338_faltantes/fiuba_6_avisos_detalle_missing_nivel_laboral.csv', encoding='utf-8')

### Juntamos los 338 registros que faltan con el set a predecir

In [44]:
print(len(avisos_detalle_desde_15_04))

13798

In [45]:
avisos_detalle_desde_15_04 = pd.concat([avisos_detalle_desde_15_04, avisos_detalle_338_faltantes])

In [46]:
print(len(avisos_detalle_desde_15_04))

14136

## Unificamos los datos del TP 1 con los de hasta el 15 de abril

### postulantes_educacion

In [47]:
print('Longitud original: ', len(postulantes_educacion_orig))
print('Longitud nuevo set: ', len(postulantes_educacion_hasta_15_04))
postulantes_educacion = pd.concat([postulantes_educacion_orig, postulantes_educacion_hasta_15_04])
print('Longitud concat: ', len(postulantes_educacion))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
postulantes_educacion.drop_duplicates(['idpostulante', 'nombre', 'estado'], keep='last', inplace=True)
print('Longitud unique: ', len(postulantes_educacion))

Longitud original:  298231
Longitud nuevo set:  407453
Longitud concat:  705684
Longitud unique:  568612

In [48]:
postulantes_educacion.to_csv('../data/1_postulantes_educacion.csv', index=False, sep=',', encoding='utf-8')

### postulantes_genero_edad

In [49]:
print('Longitud original: ', len(postulantes_genero_edad_orig))
print('Longitud nuevo set: ', len(postulantes_genero_edad_hasta_15_04))
postulantes_genero_edad = pd.concat([postulantes_genero_edad_orig, postulantes_genero_edad_hasta_15_04])
print('Longitud concat: ', len(postulantes_genero_edad))

# Eliminamos los duplicados. En este caso se considera duplicado si el idpostulante matchea
postulantes_genero_edad.drop_duplicates(['idpostulante'], keep='last', inplace=True)
print('Longitud unique: ', len(postulantes_genero_edad))

Longitud original:  200888
Longitud nuevo set:  297747
Longitud concat:  498635
Longitud unique:  408146

In [50]:
postulantes_genero_edad.to_csv('../data/2_postulantes_genero_edad.csv', index=False, sep=',', encoding='utf-8')

### vistas

In [51]:
print('Longitud original: ', len(vistas_orig))
print('Longitud nuevo set: ', len(vistas_hasta_15_04))
vistas = pd.concat([vistas_orig, vistas_hasta_15_04])
print('Longitud concat: ', len(vistas))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
vistas.drop_duplicates(['idaviso', 'timestamp', 'idpostulante'], keep='last', inplace=True)
print('Longitud unique: ', len(vistas))

Longitud original:  961897
Longitud nuevo set:  5758686
Longitud concat:  6720583
Longitud unique:  6682591

In [52]:
vistas.to_csv('../data/3_vistas.csv', index=False, sep=',', encoding='utf-8')

### postulaciones

In [53]:
print('Longitud original: ', len(postulaciones_orig))
print('Longitud nuevo set: ', len(postulaciones_hasta_15_04))
postulaciones = pd.concat([postulaciones_orig, postulaciones_hasta_15_04])
print('Longitud concat: ', len(postulaciones))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
postulaciones.drop_duplicates(['idaviso', 'idpostulante', 'fechapostulacion'], keep='last', inplace=True)
print('Longitud unique: ', len(postulaciones))

Longitud original:  3401623
Longitud nuevo set:  4909641
Longitud concat:  8311264
Longitud unique:  6604534

In [54]:
postulaciones.to_csv('../data/4_postulaciones.csv', index=False, sep=',', encoding='utf-8')

### avisos_online

In [55]:
print('Longitud original: ', len(avisos_online_orig))
print('Longitud nuevo set: ', len(avisos_online_hasta_15_04))
avisos_online = pd.concat([avisos_online_orig, avisos_online_hasta_15_04])
print('Longitud concat: ', len(avisos_online))

# Eliminamos los duplicados. En este caso se considera duplicado si esta columna matchea
avisos_online.drop_duplicates(['idaviso'], keep='last', inplace=True)
print('Longitud unique: ', len(avisos_online))

Longitud original:  5028
Longitud nuevo set:  4858
Longitud concat:  9886
Longitud unique:  9430

In [56]:
avisos_online.to_csv('../data/5_avisos_online.csv', index=False, sep=',', encoding='utf-8')

### avisos_detalle

In [57]:
print('Longitud original: ', len(avisos_detalle_orig))
print('Longitud nuevo set: ', len(avisos_detalle_hasta_15_04))
avisos_detalle = pd.concat([avisos_detalle_orig, avisos_detalle_hasta_15_04])
print('Longitud concat: ', len(avisos_detalle))

# Eliminamos los duplicados. En este caso se considera duplicado si matchean estas columnas (por no matchear todas)
avisos_detalle.drop_duplicates(['idaviso', 'titulo', 'descripcion', 'nombre_zona', 'ciudad', 'tipo_de_trabajo', 'nivel_laboral'], keep='last', inplace=True)
print('Longitud unique: ', len(avisos_detalle))

Longitud original:  13534
Longitud nuevo set:  18299
Longitud concat:  31833
Longitud unique:  19632

In [58]:
avisos_detalle.to_csv('../data/6_avisos_detalle.csv', index=False, sep=',', encoding='utf-8')

## Postulantes unificados de todas las fechas

In [59]:
print(len(postulantes_educacion))
print(len(postulantes_genero_edad))

568612
408146

In [60]:
postulantes = pd.merge(postulantes_educacion, postulantes_genero_edad, on='idpostulante', how='outer')
postulantes_test = pd.merge(postulantes_educacion_hasta_15_04, postulantes_genero_edad_hasta_15_04, on='idpostulante', how='outer')

In [61]:
print(len(postulantes))

610363

In [62]:
postulantes.head(10)

  idpostulante             nombre    estado fechanacimiento  sexo
0         8BkL      Universitario  En Curso      1976-07-21   FEM
1         8BkL      Universitario  Graduado      1976-07-21   FEM
2         8BkL           Posgrado  Graduado      1976-07-21   FEM
3         8BkL             Master  Graduado      1976-07-21   FEM
4         1d2B      Universitario  En Curso      1976-02-28  MASC
5         Ym2X               Otro  En Curso      1964-01-19  MASC
6         Ym2X      Universitario  Graduado      1964-01-19  MASC
7        6M3jr      Universitario  En Curso      1975-11-03  MASC
8        Z85B5      Universitario  En Curso      1976-04-27   FEM
9        Z85B5  Terciario/Técnico  Graduado      1976-04-27   FEM

In [63]:
print(len(postulantes))
print(len(postulantes_test))

610363
441412

In [64]:
postulantes.isnull().any()

idpostulante       False
nombre              True
estado              True
fechanacimiento     True
sexo               False
dtype: bool

In [65]:
postulantes_test.isnull().any()

idpostulante       False
nombre              True
estado              True
fechanacimiento     True
sexo               False
dtype: bool

In [66]:
postulantes_joined = pd.concat([postulantes, postulantes_test])

In [67]:
len(postulantes_joined)

1051775

In [68]:
postulantes_joined[postulantes_joined['idpostulante'] == '8BkL']

     idpostulante         nombre    estado fechanacimiento sexo
0            8BkL  Universitario  En Curso      1976-07-21  FEM
1            8BkL  Universitario  Graduado      1976-07-21  FEM
2            8BkL       Posgrado  Graduado      1976-07-21  FEM
3            8BkL         Master  Graduado      1976-07-21  FEM
9768         8BkL  Universitario  Graduado      1976-07-21  FEM
9769         8BkL       Posgrado  Graduado      1976-07-21  FEM
9770         8BkL         Master  Graduado      1976-07-21  FEM

In [69]:
postulantes_joined.drop_duplicates(subset = ['idpostulante', 'nombre', 'estado', 'fechanacimiento', 'sexo'], keep = 'last', inplace = True)

In [70]:
len(postulantes_joined)

610394

In [71]:
postulantes_joined.isnull().any()

idpostulante       False
nombre              True
estado              True
fechanacimiento     True
sexo               False
dtype: bool

In [72]:
postulantes_joined.to_csv('../data/postulantes_joined.csv', index=False, sep=',', encoding='utf-8')

## Avisos unificados de todas las fechas

In [73]:
print(len(avisos_detalle))
avisos_detalle.head(1)

19632

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

In [74]:
print(len(avisos_detalle_desde_15_04))
avisos_detalle_desde_15_04.head(1)

14136

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1573840,1,VENDEDORA/O,Nuestra Búsqueda se orienta a la incorporación...,Capital Federal,Flores,NaN,Full-time,Otro,Ventas,RIBEIRO SUC. FLORES

In [75]:
avisos_detalle_joined = pd.concat([avisos_detalle, avisos_detalle_desde_15_04])

In [76]:
len(avisos_detalle_joined)

33768

In [77]:
avisos_detalle_joined.drop_duplicates(subset = ['idaviso', 'tituloa', 'descripcion', 'nombre_area'], keep = 'last',inplace = True)

In [78]:
len(avisos_detalle_joined)

25743

In [79]:
avisos_detalle_joined.isnull().any()

idaviso                 False
idpais                  False
titulo                  False
descripcion             False
nombre_zona             False
ciudad                   True
mapacalle                True
tipo_de_trabajo         False
nivel_laboral            True
nombre_area             False
denominacion_empresa     True
dtype: bool

In [80]:
avisos_detalle_joined.head(3)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [81]:
avisos_detalle_joined.to_csv('../data/avisos_detalle_joined.csv', index=False, sep=',', encoding='utf-8')

# Limpieza/transformacion de datos

### Aplicamos las transformaciones tanto al set para entrenar como al que se va a usar para testear

In [82]:
postulantes_joined = pd.read_csv('../data/postulantes_joined.csv', sep=',', encoding='utf-8')
vistas_train = pd.read_csv('../data/3_vistas_train.csv', sep=',', encoding='utf-8')
postulaciones_train = pd.read_csv('../data/4_postulaciones_train.csv', sep=',', encoding='utf-8')
avisos_online_train = pd.read_csv('../data/5_avisos_online_train.csv', sep=',', encoding='utf-8')
avisos_detalle_joined = pd.read_csv('../data/avisos_detalle_joined.csv', sep=',', encoding='utf-8')

#### Transfomaciones para postulantes

In [83]:
postulantes_joined.rename(columns={'nombre':'nombre_estudio','estado':'estado_estudio'}, inplace=True)

In [84]:
postulantes_joined.head(1)

  idpostulante nombre_estudio estado_estudio fechanacimiento sexo
0         8BkL  Universitario       En Curso      1976-07-21  FEM

Obtenemos el maximo nivel de educacion para cada postulante

In [85]:
len(postulantes_joined)

610394

In [86]:
print('Existen datos de', postulantes_joined['idpostulante'].value_counts().size, 'postulantes distintos')

Existen datos de 408146 postulantes distintos

In [87]:
postulantes_joined.isnull().any()

idpostulante       False
nombre_estudio      True
estado_estudio      True
fechanacimiento     True
sexo               False
dtype: bool

In [88]:
most_freq_nombre_estudio = postulantes_joined.nombre_estudio.mode()[0]
postulantes_joined.nombre_estudio.fillna(most_freq_nombre_estudio,inplace=True)
postulantes_joined.nombre_estudio.isnull().any()

False

In [89]:
most_freq_estado_estudio = postulantes_joined.estado_estudio.mode()[0]
postulantes_joined.estado_estudio.fillna(most_freq_estado_estudio,inplace=True)
postulantes_joined.estado_estudio.isnull().any()

False

In [90]:
postulantes_joined.isnull().any()

idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento     True
sexo               False
dtype: bool

In [91]:
def cuantificar_estudios(row):
    if (row['nombre_estudio'] == 'Doctorado'):
        row['nombre_estudio'] = 7
    if (row['nombre_estudio'] == 'Master'):    
        row['nombre_estudio'] = 6
    if (row['nombre_estudio'] == 'Posgrado'):    
        row['nombre_estudio'] = 5
    if (row['nombre_estudio'] == 'Universitario'):    
        row['nombre_estudio'] = 4
    if (row['nombre_estudio'] == 'Terciario/Técnico'):    
        row['nombre_estudio'] = 3
    if (row['nombre_estudio'] == 'Secundario'):    
        row['nombre_estudio'] = 2
    if (row['nombre_estudio'] == 'Otro'):    
        row['nombre_estudio'] = 1    
        
    if (row['estado_estudio'] == 'Graduado'):
        row['estado_estudio'] = 3
    if (row['estado_estudio'] == 'En Curso'):    
        row['estado_estudio'] = 2
    if (row['estado_estudio'] == 'Abandonado'):    
        row['estado_estudio'] = 1
        
    return row    

def descuantificar_estudios(row):
    if (row['nombre_estudio'] == 7):
        row['nombre_estudio'] = 'Doctorado'
    if (row['nombre_estudio'] == 6):    
        row['nombre_estudio'] = 'Master'
    if (row['nombre_estudio'] == 5):    
        row['nombre_estudio'] = 'Posgrado'
    if (row['nombre_estudio'] == 4):    
        row['nombre_estudio'] = 'Universitario'
    if (row['nombre_estudio'] == 3):    
        row['nombre_estudio'] = 'Terciario/Tecnico'
    if (row['nombre_estudio'] == 2):    
        row['nombre_estudio'] = 'Secundario'
    if (row['nombre_estudio'] == 1):    
        row['nombre_estudio'] = 'Otro'    
        
    if (row['estado_estudio'] == 3):
        row['estado_estudio'] = 'Graduado'
    if (row['estado_estudio'] == 2):    
        row['estado_estudio'] = 'EnCurso'
    if (row['estado_estudio'] == 1):    
        row['estado_estudio'] = 'Abandonado'
        
    return row

In [92]:
postulantes_joined = postulantes_joined.apply(lambda row: cuantificar_estudios(row), axis=1)

In [93]:
# Obtenemos max de la columna nombre
idx = postulantes_joined.groupby(['idpostulante'])['nombre_estudio'].transform(max) == postulantes_joined['nombre_estudio']

In [94]:
# Sobre los anteriores, obtenemos los max de la columna estado
idx_postulantes_educacion_max = postulantes_joined[idx].groupby(['idpostulante'])['estado_estudio'].transform(max) == postulantes_joined[idx]['estado_estudio']

In [95]:
postulantes_joined = postulantes_joined[idx][idx_postulantes_educacion_max]

In [96]:
print(len(postulantes_joined))

408150

In [97]:
# Para volver a strings: 
postulantes_joined = postulantes_joined.apply(lambda row: descuantificar_estudios(row), axis=1)

In [98]:
postulantes_joined.head(2)

  idpostulante nombre_estudio estado_estudio fechanacimiento  sexo
1         1d2B  Universitario        EnCurso      1976-02-28  MASC
3         Ym2X  Universitario       Graduado      1964-01-19  MASC

In [99]:
postulantes_joined.isnull().any()

idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento     True
sexo               False
dtype: bool

In [100]:
most_freq_fechanacimiento = postulantes_joined.fechanacimiento.mode()[0]
postulantes_joined.fechanacimiento.fillna(most_freq_fechanacimiento,inplace=True)
postulantes_joined.fechanacimiento.isnull().any()

False

In [101]:
postulantes_joined.isnull().any()

idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento    False
sexo               False
dtype: bool

In [102]:
# Convierto columnas con fechas a datetime
postulantes_joined['fechanacimiento'] = pd.to_datetime(postulantes_joined.fechanacimiento, format='%Y/%m/%d', errors='coerce')

In [103]:
most_freq_fechanacimiento = postulantes_joined.fechanacimiento.mode()[0]
postulantes_joined.fechanacimiento.fillna(most_freq_fechanacimiento,inplace=True)
postulantes_joined.fechanacimiento.isnull().any()

False

In [104]:
postulantes_joined.isnull().any()

idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento    False
sexo               False
dtype: bool

In [105]:
# Agrego columna edad
anio_actual = pd.to_datetime('today').year
postulantes_joined['edad'] = postulantes_joined.fechanacimiento.map(lambda fecha: anio_actual - fecha.year).astype(int)

In [106]:
postulantes_joined.edad.isnull().any()

False

In [107]:
len(postulantes_joined)

408150

In [108]:
postulantes_joined.head(1)

  idpostulante nombre_estudio estado_estudio fechanacimiento  sexo  edad
1         1d2B  Universitario        EnCurso      1976-02-28  MASC    42

In [109]:
postulantes_joined['edad'] = postulantes_joined['edad'].astype(int)

In [110]:
postulantes_joined.head(1)

  idpostulante nombre_estudio estado_estudio fechanacimiento  sexo  edad
1         1d2B  Universitario        EnCurso      1976-02-28  MASC    42

In [111]:
postulantes_joined.dtypes

idpostulante               object
nombre_estudio             object
estado_estudio             object
fechanacimiento    datetime64[ns]
sexo                       object
edad                        int64
dtype: object

In [112]:
postulantes_joined.isnull().any()

idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento    False
sexo               False
edad               False
dtype: bool

#### Transfomaciones para avisos

In [113]:
print(len(avisos_detalle_joined))
print('Existen avisos nulos:', avisos_detalle_joined.idaviso.isnull().any())
#avisos_detalle_joined = avisos_detalle_joined.dropna(subset=['idaviso'], how='all')
#print(len(avisos_detalle_joined))

25743
Existen avisos nulos: False

In [114]:
avisos_detalle_joined.drop(columns=['idpais','ciudad','mapacalle', 'nombre_zona'], inplace=True)

In [115]:
avisos_detalle_joined.head(1)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,<p>Solicitamos para importante cadena de farma...,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

In [116]:
print(avisos_detalle_joined.tipo_de_trabajo.isnull().any())
print(avisos_detalle_joined.nivel_laboral.isnull().any())
print(avisos_detalle_joined.nombre_area.isnull().any())
print(avisos_detalle_joined.descripcion.isnull().any())

False
True
False
False

In [117]:
print('Existen',avisos_detalle_joined.nivel_laboral.isnull().sum(), 'avisos que no especifican nivel laboral')

Existen 335 avisos que no especifican nivel laboral

Los reemplazamos con el valor mas frecuente de ese feature

In [118]:
most_freq_nivel_laboral = avisos_detalle_joined.nivel_laboral.mode()[0]
most_freq_nivel_laboral

'Senior / Semi-Senior'

In [119]:
avisos_detalle_joined.nivel_laboral.fillna(most_freq_nivel_laboral,inplace=True)
avisos_detalle_joined.nivel_laboral.replace(to_replace='None',value=most_freq_nivel_laboral,inplace=True)
avisos_detalle_joined.nivel_laboral.replace(to_replace='NaN',value=most_freq_nivel_laboral,inplace=True)
avisos_detalle_joined.nivel_laboral.replace(to_replace='nil',value=most_freq_nivel_laboral,inplace=True)

In [120]:
print('Existen',avisos_detalle_joined.nivel_laboral.isnull().sum(), 'avisos que no especifican nivel laboral')

Existen 0 avisos que no especifican nivel laboral

In [121]:
avisos_detalle_joined.head(1)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,<p>Solicitamos para importante cadena de farma...,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

Eliminamos el html de la descripcion

In [122]:
def clean_html(row):
    clean_html_regex = re.compile('<.*?>')
    row['descripcion'] = re.sub(clean_html_regex, '', row['descripcion'])
    return row

avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: clean_html(row), axis=1)

In [123]:
avisos_detalle_joined.head(1)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,Solicitamos para importante cadena de farmacia...,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

In [124]:
avisos_detalle_joined['descripcion'].head(5)

0    Solicitamos para importante cadena de farmacia...
1    TE GUSTA MANEJAR? QUERES GANAR PLATA HACIENDO ...
2    OPERARIOS DE PLANTANos encontramos en la búsqu...
3    Agente\r\noficial Selecciona:\r\n \r\nNuestra ...
4    Centro Médico Accord se encuentra en la búsque...
Name: descripcion, dtype: object

Procesamos la descripcion: eliminamos diacriticos, stopwords

In [125]:
stopwords = ['a', 'al', 'ante', 'aquel', 'aires', 'bien', 'buenos', 'como', 'con', 'conseguir', 'cual', 'de', 'del', 'descripcion', 
             'desde', 'donde', 'e', 'el', 'ella', 'ello', 'en', 'es', 'esa', 'encima', 'entonces', 'entre', 'encontramos', 
             'encuentra', 'era', 'esta', 'estas' 'estan', 'etc', 'fe', 'fue', 'gusta', 'hs', 'ha', 'hacen', 'hacemos', 'hacer', 'hasta', 
             'incluso', 'ir', 'jamas', 'jamas', 'la', 'las', 'lo', 'los', 'mas', 'me', 'menos', 'mi', 'mis', 'misma', 'mismo', 'mucha', 'muchas', 
             'mucho', 'muchos', 'muy', 'ni', 'no', 'nos', 'nosotros', 'nuestras', 'nuestra', 'nuestro', 'nuestros', 'o', 'para', 'por', 'puesta', 
             'que', 'qué', 'sabe', 'santa', 'saber', 'se', 'solicitamos', 'selecciona', 'segun', 'ser', 'serán', 'seran', 'si', 'siendo', 'sin', 
             'sobre', 'solo', 'solicita', 'somos', 'su', 'sus', 'te', 'trabajar', 'tiene', 'tus', 'tu', 'uso', 
             'un', 'una', 'ubicada', 'valoramos', 'vaya', 'y']

invalid_characters = [',', ':', '.', ';', '?', '¿', '!', '¡', '(', ')', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 
                      '<', '>', '-', '_', '/', '*', '\r', '\n', '', '·', '§', 'ª', '+']

def clean_html(string):
    clean_html_regex = re.compile('<.*?>')
    string = re.sub(clean_html_regex, ' ', string).strip()
    return string

def clean_string(row, col):     
    for invalid_char in invalid_characters:
        row[col] = row[col].replace(invalid_char, ' ').strip()
        row[col] = row[col].strip().lower()
    
    row[col] = row[col].replace('á', "a")
    row[col] = row[col].replace('é', "e")
    row[col] = row[col].replace('í', "i")
    row[col] = row[col].replace('ó', "o")
    row[col] = row[col].replace('ú', "u")
    row[col] = row[col].replace('ü', "u")
    
    words = row[col].split()
    
    # Se filtran las stop words
    valid_words = []
    for word in words:
        for w in stopwords:
            if (word == w):
                word = word.replace(w, ' ')
        if (word.strip() != ''):
            valid_words.append(word)
        
    row[col] = valid_words
    return row

In [126]:
avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: clean_string(row, 'descripcion'), axis=1)

In [127]:
avisos_detalle_joined['descripcion'].head(3)

0    [importante, cadena, farmacias, zona, oeste, e...
1    [manejar, queres, ganar, plata, haciendo, cont...
2    [operarios, plantanos, busqueda, operarios, em...
Name: descripcion, dtype: object

Para cada aviso reemplazamos la columna descripcion por una lista: (palabra, #apariciones)

In [128]:
def process_words(row, columna):
    lista_palabras_frecuentes_descripcion = []
    words = row[columna]
    for word in words:
        lista_palabras_frecuentes_descripcion.append(word)
    row[columna] = Counter(lista_palabras_frecuentes_descripcion).most_common(25)
    
    return row

avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: process_words(row, 'descripcion'), axis=1)

In [129]:
avisos_detalle_joined.head(3)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,"[(oeste, 2), (experiencia, 2), (años, 2), (imp...",Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
1,1000150677,Chofer de taxi,"[(tenes, 3), (estas, 2), (trabajo, 2), (años, ...",Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
2,1000872556,Operarios de Planta - Rubro Electrodomésticos,"[(control, 6), (produccion, 4), (operarios, 2)...",Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

Lo mismo pero con el titulo

In [130]:
avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: clean_string(row, 'titulo'), axis=1)

In [131]:
avisos_detalle_joined.head(3)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,[enfermeras],"[(oeste, 2), (experiencia, 2), (años, 2), (imp...",Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
1,1000150677,"[chofer, taxi]","[(tenes, 3), (estas, 2), (trabajo, 2), (años, ...",Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
2,1000872556,"[operarios, planta, rubro, electrodomesticos]","[(control, 6), (produccion, 4), (operarios, 2)...",Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [132]:
print(len(avisos_detalle_joined))

25743

Elimino la columna denominacion_empresa

In [133]:
avisos_detalle_joined.drop(['denominacion_empresa'], axis=1, inplace=True)

In [134]:
def remove_whitespaces(row, col):
    row[col] = "".join(row[col].split())
    return row

In [135]:
# Eliminamos los espacios en blanco para evitar problemas con el nombre de las columnas
avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: remove_whitespaces(row, 'nivel_laboral'), axis=1)
avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: remove_whitespaces(row, 'nombre_area'), axis=1)

In [136]:
print(len(avisos_detalle_joined))

25743

In [137]:
avisos_detalle_joined.drop_duplicates(subset='idaviso', keep="last", inplace=True)

In [138]:
print(len(avisos_detalle_joined))

25288

In [139]:
avisos_detalle_joined.dtypes

idaviso             int64
titulo             object
descripcion        object
tipo_de_trabajo    object
nivel_laboral      object
nombre_area        object
dtype: object

#### Transformaciones para las vistas

In [140]:
vistas_train.rename(columns={'idAviso':'idaviso','timestamp':'fechavista'}, inplace=True)
vistas_desde_15_04.rename(columns={'idAviso':'idaviso','timestamp':'fechavista'}, inplace=True)

In [141]:
vistas_train.head(1)

      idaviso                    fechavista idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z

Seguir transformando....

Exportamos a nuevos csv despues de transformar para evitar recalcular

In [142]:
postulantes_joined.to_csv('../data/postulantes_joined.csv', index=False, sep=',', encoding='utf-8')

In [143]:
avisos_detalle_joined.to_csv('../data/avisos_detalle_joined.csv', index=False, sep=',', encoding='utf-8')

In [144]:
vistas_train.to_csv('../data/3_vistas_train.csv', index=False, sep=',', encoding='utf-8')
vistas_desde_15_04.to_csv('../data/3_vistas_test.csv', index=False, sep=',', encoding='utf-8')

# Juntamos todo en un solo DF

In [145]:
#vistas = pd.read_csv('../data/3_vistas_train.csv', encoding='utf-8')
#avisos_online = pd.read_csv('../data/5_avisos_online_train.csv', encoding='utf-8')

In [2]:
avisos_detalle_joined = pd.read_csv('../data/avisos_detalle_joined.csv', encoding='utf-8')
postulantes_joined = pd.read_csv('../data/postulantes_joined.csv', encoding='utf-8')
postulaciones = pd.read_csv('../data/4_postulaciones_train.csv', encoding='utf-8')

In [4]:
vistas_test = pd.read_csv('../data/3_vistas_test.csv', encoding='utf-8')

## Set a predecir

In [3]:
data_predecir = pd.read_csv('../data/test_final_100k.csv', encoding='utf-8')

In [4]:
print('Existen ids repetidos en el set a predecir:',data_predecir.duplicated('id').any())

Existen ids repetidos en el set a predecir: False

In [5]:
postulantes_conocidos = postulantes_joined.merge(data_predecir, on=['idpostulante'], how='inner')
print('Existen datos de',len(data_predecir) - len(postulantes_conocidos), 'postulantes para los que no tenemos datos')

Existen datos de 8576 postulantes para los que no tenemos datos

# POR MEMORIA ELIMINAMOS LAS COLUMNAS DESCRIPCION, TITULO Y AREA POR AHORA

In [6]:
avisos_detalle_joined.head(1)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area
0,1000872556,"['operarios', 'planta', 'rubro', 'electrodomes...","[('control', 6), ('produccion', 4), ('operario...",Full-time,Senior/Semi-Senior,Producción

In [7]:
avisos_detalle_joined.drop(columns=['titulo', 'descripcion'], inplace=True)

### Genero un set de 'no_postulados' con una muestra random para crear casos en que postulantes no aplican a a visos

In [8]:
postulantes_sample = postulantes_joined.sample(10000)
for i in range(1,650):
    postulantes_sample = pd.concat([postulantes_sample, postulantes_joined.sample(10000)])

In [9]:
print(len(postulantes_sample))

6500000

In [10]:
postulantes_sample.reset_index(inplace=True)
postulantes_sample.drop(columns = 'index', inplace = True)
postulantes_sample.head(1)

  idpostulante nombre_estudio estado_estudio fechanacimiento sexo  edad
0       5qrBYw     Secundario       Graduado      1970-06-15  FEM    48

In [11]:
avisos_sample = avisos_detalle_joined.sample(10000)
for i in range(1,650):
    avisos_sample = pd.concat([avisos_sample, avisos_detalle_joined.sample(10000)])

In [12]:
print(len(avisos_sample))

6500000

In [13]:
avisos_sample.reset_index(inplace=True)
avisos_sample.drop(columns = 'index', inplace = True)
avisos_sample.head(1)

      idaviso tipo_de_trabajo       nivel_laboral nombre_area
0  1112203821       Full-time  Senior/Semi-Senior      Ventas

In [14]:
no_postulados = postulantes_sample.join(avisos_sample)

In [15]:
print(len(no_postulados))
no_postulados.head(1)

6500000

,idpostulante,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad,idaviso,tipo_de_trabajo,nivel_laboral,nombre_area
0,5qrBYw,Secundario,Graduado,1970-06-15,FEM,48,1112203821,Full-time,Senior/Semi-Senior,Ventas

In [16]:
no_postulados.to_csv('../data/no_postulados.csv', index=False, sep=',', encoding='utf-8')

### Joineo al de entrenamiento con postulaciones (vistas por el momento no) y al de test con el pedido

In [17]:
print(len(postulaciones))

6604534

In [18]:
postulaciones.head(1)

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34

In [19]:
postulaciones_postulantes = pd.merge(postulaciones, postulantes_joined, on='idpostulante', how='left')

In [20]:
postulaciones_postulantes_test = pd.merge(data_predecir, postulantes_joined, on='idpostulante', how='left')

In [21]:
postulaciones_postulantes_test.duplicated('id').any()

False

In [22]:
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad
0,1112257047,NM5M,2018-01-15 16:22:34,Secundario,Graduado,1970-12-03,FEM,48

In [23]:
postulaciones_postulantes_test.head(1)

,id,idaviso,idpostulante,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad
0,0,739260,6M9ZQR,Doctorado,Graduado,1976-03-29,FEM,42.0

In [24]:
print(len(postulaciones_postulantes))

6604615

In [25]:
postulaciones_postulantes.isnull().any()

idaviso             False
idpostulante        False
fechapostulacion    False
nombre_estudio      False
estado_estudio      False
fechanacimiento     False
sexo                False
edad                False
dtype: bool

In [26]:
postulaciones_postulantes_test.isnull().any()

id                 False
idaviso            False
idpostulante       False
nombre_estudio      True
estado_estudio      True
fechanacimiento     True
sexo                True
edad                True
dtype: bool

Se ve que entre los datos a predecir hay datos de postulantes que no conocemos. Los reemplazamos con los valores mas frecuentes

In [27]:
most_freq_nombre_estudio = postulaciones_postulantes_test.nombre_estudio.mode()[0]
postulaciones_postulantes_test.nombre_estudio.fillna(most_freq_nombre_estudio,inplace=True)
postulaciones_postulantes_test.nombre_estudio.isnull().any()

False

In [28]:
most_freq_estado_estudio = postulaciones_postulantes_test.estado_estudio.mode()[0]
postulaciones_postulantes_test.estado_estudio.fillna(most_freq_estado_estudio,inplace=True)
postulaciones_postulantes_test.estado_estudio.isnull().any()

False

In [29]:
most_freq_fechanacimiento = postulaciones_postulantes_test.fechanacimiento.mode()[0]
postulaciones_postulantes_test.fechanacimiento.fillna(most_freq_fechanacimiento,inplace=True)
postulaciones_postulantes_test.fechanacimiento.isnull().any()

False

In [30]:
most_freq_sexo = postulaciones_postulantes_test.sexo.mode()[0]
postulaciones_postulantes_test.sexo.fillna(most_freq_sexo,inplace=True)
postulaciones_postulantes_test.sexo.isnull().any()

False

In [31]:
most_freq_edad = postulaciones_postulantes_test.edad.mode()[0]
postulaciones_postulantes_test.edad.fillna(most_freq_edad,inplace=True)
postulaciones_postulantes_test.edad.isnull().any()

False

In [32]:
no_postulados.isnull().any()

idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento    False
sexo               False
edad               False
idaviso            False
tipo_de_trabajo    False
nivel_laboral      False
nombre_area        False
dtype: bool

In [33]:
postulaciones_postulantes_test.isnull().any()

id                 False
idaviso            False
idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento    False
sexo               False
edad               False
dtype: bool

In [34]:
postulaciones_postulantes_test.isnull().any()

id                 False
idaviso            False
idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento    False
sexo               False
edad               False
dtype: bool

Una vez que tenemos los dos sets sin nulos aplicamos one hot encoding

#### One hot encoding de columnas categoricas

Separo columna nombre y estado estudio en columnas booleanas por cada categoria

In [35]:
postulaciones_postulantes['nombre_estudio'] = postulaciones_postulantes['nombre_estudio'].astype(str)
postulaciones_postulantes['estado_estudio'] = postulaciones_postulantes['estado_estudio'].astype(str)
postulaciones_postulantes_test['nombre_estudio'] = postulaciones_postulantes_test['nombre_estudio'].astype(str)
postulaciones_postulantes_test['estado_estudio'] = postulaciones_postulantes_test['estado_estudio'].astype(str)

In [36]:
no_postulados['nombre_estudio'] = no_postulados['nombre_estudio'].astype(str)
no_postulados['estado_estudio'] = no_postulados['estado_estudio'].astype(str)

In [37]:
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad
0,1112257047,NM5M,2018-01-15 16:22:34,Secundario,Graduado,1970-12-03,FEM,48

In [38]:
nombres_estudio = postulaciones_postulantes.nombre_estudio.str.get_dummies()
nombres_estudio.columns = ['nombre_estudio_' + col for col in nombres_estudio.columns]
postulaciones_postulantes = pd.concat([postulaciones_postulantes, nombres_estudio], axis=1)

In [39]:
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario
0,1112257047,NM5M,2018-01-15 16:22:34,Secundario,Graduado,1970-12-03,FEM,48,0,0,0,0,1,0,0

In [40]:
nombres_estudio = postulaciones_postulantes_test.nombre_estudio.str.get_dummies()
nombres_estudio.columns = ['nombre_estudio_' + col for col in nombres_estudio.columns]
postulaciones_postulantes_test = pd.concat([postulaciones_postulantes_test, nombres_estudio], axis=1)

In [41]:
postulaciones_postulantes_test.head(1)

,id,idaviso,idpostulante,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario
0,0,739260,6M9ZQR,Doctorado,Graduado,1976-03-29,FEM,42.0,1,0,0,0,0,0,0

In [42]:
nombres_estudio = no_postulados.nombre_estudio.str.get_dummies()
nombres_estudio.columns = ['nombre_estudio_' + col for col in nombres_estudio.columns]
no_postulados = pd.concat([no_postulados, nombres_estudio], axis=1)

In [43]:
postulaciones_postulantes.columns

Index(['idaviso', 'idpostulante', 'fechapostulacion', 'nombre_estudio',
       'estado_estudio', 'fechanacimiento', 'sexo', 'edad',
       'nombre_estudio_Doctorado', 'nombre_estudio_Master',
       'nombre_estudio_Otro', 'nombre_estudio_Posgrado',
       'nombre_estudio_Secundario', 'nombre_estudio_Terciario/Tecnico',
       'nombre_estudio_Universitario'],
      dtype='object')

In [44]:
postulaciones_postulantes_test.columns

Index(['id', 'idaviso', 'idpostulante', 'nombre_estudio', 'estado_estudio',
       'fechanacimiento', 'sexo', 'edad', 'nombre_estudio_Doctorado',
       'nombre_estudio_Master', 'nombre_estudio_Otro',
       'nombre_estudio_Posgrado', 'nombre_estudio_Secundario',
       'nombre_estudio_Terciario/Tecnico', 'nombre_estudio_Universitario'],
      dtype='object')

In [45]:
no_postulados.columns

Index(['idpostulante', 'nombre_estudio', 'estado_estudio', 'fechanacimiento',
       'sexo', 'edad', 'idaviso', 'tipo_de_trabajo', 'nivel_laboral',
       'nombre_area', 'nombre_estudio_Doctorado', 'nombre_estudio_Master',
       'nombre_estudio_Otro', 'nombre_estudio_Posgrado',
       'nombre_estudio_Secundario', 'nombre_estudio_Terciario/Tecnico',
       'nombre_estudio_Universitario'],
      dtype='object')

In [46]:
estados_estudio = postulaciones_postulantes.estado_estudio.str.get_dummies()
estados_estudio.columns = ['estado_estudio_' + col for col in estados_estudio.columns]
postulaciones_postulantes = pd.concat([postulaciones_postulantes, estados_estudio], axis=1)
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado
0,1112257047,NM5M,2018-01-15 16:22:34,Secundario,Graduado,1970-12-03,FEM,48,0,0,0,0,1,0,0,0,0,1

In [47]:
estados_estudio = postulaciones_postulantes_test.estado_estudio.str.get_dummies()
estados_estudio.columns = ['estado_estudio_' + col for col in estados_estudio.columns]
postulaciones_postulantes_test = pd.concat([postulaciones_postulantes_test, estados_estudio], axis=1)
postulaciones_postulantes_test.head(1)

,id,idaviso,idpostulante,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado
0,0,739260,6M9ZQR,Doctorado,Graduado,1976-03-29,FEM,42.0,1,0,0,0,0,0,0,0,0,1

In [48]:
estados_estudio = no_postulados.estado_estudio.str.get_dummies()
estados_estudio.columns = ['estado_estudio_' + col for col in estados_estudio.columns]
no_postulados = pd.concat([no_postulados, estados_estudio], axis=1)
no_postulados.head(1)

,idpostulante,nombre_estudio,estado_estudio,fechanacimiento,sexo,edad,idaviso,tipo_de_trabajo,nivel_laboral,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado
0,5qrBYw,Secundario,Graduado,1970-06-15,FEM,48,1112203821,Full-time,Senior/Semi-Senior,Ventas,0,0,0,0,1,0,0,0,0,1

In [49]:
postulaciones_postulantes.drop(columns=['nombre_estudio', 'estado_estudio'], inplace=True)
postulaciones_postulantes_test.drop(columns=['nombre_estudio', 'estado_estudio'], inplace=True)
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,fechanacimiento,sexo,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado
0,1112257047,NM5M,2018-01-15 16:22:34,1970-12-03,FEM,48,0,0,0,0,1,0,0,0,0,1

In [50]:
no_postulados.drop(columns=['nombre_estudio', 'estado_estudio'], inplace=True)

In [51]:
postulaciones_postulantes_test.head(1)

,id,idaviso,idpostulante,fechanacimiento,sexo,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado
0,0,739260,6M9ZQR,1976-03-29,FEM,42.0,1,0,0,0,0,0,0,0,0,1

In [52]:
postulaciones_postulantes.drop(columns=['fechapostulacion', 'fechanacimiento'], inplace=True)
postulaciones_postulantes_test.drop(columns=['fechanacimiento'], inplace=True)

In [53]:
no_postulados.drop(columns=['fechanacimiento'], inplace=True)

Cambiamos la columna sexo por categoricas

In [54]:
postulaciones_postulantes['sexo'].value_counts()

FEM           3354795
MASC          3154899
NO_DECLARA      94919
0.0                 2
Name: sexo, dtype: int64

In [55]:
sexos = postulaciones_postulantes.sexo.str.get_dummies()
sexos.drop(columns='0.0', inplace=True)
sexos.head(1)

   FEM  MASC  NO_DECLARA
0    1     0           0

In [56]:
sexos.columns = ['sexo_' + col for col in sexos.columns]
postulaciones_postulantes = pd.concat([postulaciones_postulantes, sexos], axis=1)
postulaciones_postulantes.head(1)

,idaviso,idpostulante,sexo,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA
0,1112257047,NM5M,FEM,48,0,0,0,0,1,0,0,0,0,1,1,0,0

In [57]:
sexos = postulaciones_postulantes_test.sexo.str.get_dummies()
#sexos.drop(columns='0.0', inplace=True)
sexos.head(1)

   FEM  MASC  NO_DECLARA
0    1     0           0

In [58]:
sexos.columns = ['sexo_' + col for col in sexos.columns]
postulaciones_postulantes_test = pd.concat([postulaciones_postulantes_test, sexos], axis=1)
postulaciones_postulantes_test.head(1)

,id,idaviso,idpostulante,sexo,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA
0,0,739260,6M9ZQR,FEM,42.0,1,0,0,0,0,0,0,0,0,1,1,0,0

In [59]:
sexos = no_postulados.sexo.str.get_dummies()
sexos.drop(columns='0.0', inplace=True)
sexos.columns = ['sexo_' + col for col in sexos.columns]
no_postulados = pd.concat([no_postulados, sexos], axis=1)
no_postulados.head(1)

,idpostulante,sexo,edad,idaviso,tipo_de_trabajo,nivel_laboral,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA
0,5qrBYw,FEM,48,1112203821,Full-time,Senior/Semi-Senior,Ventas,0,0,0,0,1,0,0,0,0,1,1,0,0

In [60]:
postulaciones_postulantes.drop(columns=['sexo'], inplace=True)
postulaciones_postulantes_test.drop(columns=['sexo'], inplace=True)
postulaciones_postulantes.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0

In [61]:
no_postulados.drop(columns=['sexo'], inplace=True)

In [62]:
postulaciones_postulantes_test.head(1)

,id,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA
0,0,739260,6M9ZQR,42.0,1,0,0,0,0,0,0,0,0,1,1,0,0

In [63]:
postulaciones_postulantes['edad'] = postulaciones_postulantes['edad'].astype(int)
postulaciones_postulantes_test['edad'] = postulaciones_postulantes_test['edad'].astype(int)
postulaciones_postulantes.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0

In [64]:
no_postulados['edad'] = no_postulados['edad'].astype(int)

In [65]:
postulaciones_postulantes.isnull().any()

idaviso                             False
idpostulante                        False
edad                                False
nombre_estudio_Doctorado            False
nombre_estudio_Master               False
nombre_estudio_Otro                 False
nombre_estudio_Posgrado             False
nombre_estudio_Secundario           False
nombre_estudio_Terciario/Tecnico    False
nombre_estudio_Universitario        False
estado_estudio_Abandonado           False
estado_estudio_EnCurso              False
estado_estudio_Graduado             False
sexo_FEM                            False
sexo_MASC                           False
sexo_NO_DECLARA                     False
dtype: bool

In [66]:
postulaciones_postulantes_test.isnull().any()

id                                  False
idaviso                             False
idpostulante                        False
edad                                False
nombre_estudio_Doctorado            False
nombre_estudio_Master               False
nombre_estudio_Otro                 False
nombre_estudio_Posgrado             False
nombre_estudio_Secundario           False
nombre_estudio_Terciario/Tecnico    False
nombre_estudio_Universitario        False
estado_estudio_Abandonado           False
estado_estudio_EnCurso              False
estado_estudio_Graduado             False
sexo_FEM                            False
sexo_MASC                           False
sexo_NO_DECLARA                     False
dtype: bool

In [67]:
no_postulados.isnull().any()

idpostulante                        False
edad                                False
idaviso                             False
tipo_de_trabajo                     False
nivel_laboral                       False
nombre_area                         False
nombre_estudio_Doctorado            False
nombre_estudio_Master               False
nombre_estudio_Otro                 False
nombre_estudio_Posgrado             False
nombre_estudio_Secundario           False
nombre_estudio_Terciario/Tecnico    False
nombre_estudio_Universitario        False
estado_estudio_Abandonado           False
estado_estudio_EnCurso              False
estado_estudio_Graduado             False
sexo_FEM                            False
sexo_MASC                           False
sexo_NO_DECLARA                     False
dtype: bool

In [68]:
postulaciones_postulantes.dtypes

idaviso                              int64
idpostulante                        object
edad                                 int64
nombre_estudio_Doctorado             int64
nombre_estudio_Master                int64
nombre_estudio_Otro                  int64
nombre_estudio_Posgrado              int64
nombre_estudio_Secundario            int64
nombre_estudio_Terciario/Tecnico     int64
nombre_estudio_Universitario         int64
estado_estudio_Abandonado            int64
estado_estudio_EnCurso               int64
estado_estudio_Graduado              int64
sexo_FEM                             int64
sexo_MASC                            int64
sexo_NO_DECLARA                      int64
dtype: object

In [69]:
postulaciones_postulantes_test.dtypes

id                                   int64
idaviso                              int64
idpostulante                        object
edad                                 int64
nombre_estudio_Doctorado             int64
nombre_estudio_Master                int64
nombre_estudio_Otro                  int64
nombre_estudio_Posgrado              int64
nombre_estudio_Secundario            int64
nombre_estudio_Terciario/Tecnico     int64
nombre_estudio_Universitario         int64
estado_estudio_Abandonado            int64
estado_estudio_EnCurso               int64
estado_estudio_Graduado              int64
sexo_FEM                             int64
sexo_MASC                            int64
sexo_NO_DECLARA                      int64
dtype: object

In [70]:
no_postulados.dtypes

idpostulante                        object
edad                                 int64
idaviso                              int64
tipo_de_trabajo                     object
nivel_laboral                       object
nombre_area                         object
nombre_estudio_Doctorado             int64
nombre_estudio_Master                int64
nombre_estudio_Otro                  int64
nombre_estudio_Posgrado              int64
nombre_estudio_Secundario            int64
nombre_estudio_Terciario/Tecnico     int64
nombre_estudio_Universitario         int64
estado_estudio_Abandonado            int64
estado_estudio_EnCurso               int64
estado_estudio_Graduado              int64
sexo_FEM                             int64
sexo_MASC                            int64
sexo_NO_DECLARA                      int64
dtype: object

In [71]:
postulaciones_postulantes.to_csv('../data/postulaciones_postulantes.csv', index=False, sep=',', encoding='utf-8')

In [2]:
postulaciones_postulantes = pd.read_csv('../data/postulaciones_postulantes.csv', encoding='utf-8')

In [72]:
postulaciones_postulantes_test.to_csv('../data/postulaciones_postulantes_test.csv', index=False, sep=',', encoding='utf-8')

In [3]:
postulaciones_postulantes_test = pd.read_csv('../data/postulaciones_postulantes_test.csv', encoding='utf-8')

In [73]:
no_postulados.to_csv('../data/no_postulados.csv', index=False, sep=',', encoding='utf-8')

In [ ]:
no_postulados = pd.read_csv('../data/no_postulados.csv', encoding='utf-8')

In [74]:
postulaciones_postulantes.dtypes

idaviso                              int64
idpostulante                        object
edad                                 int64
nombre_estudio_Doctorado             int64
nombre_estudio_Master                int64
nombre_estudio_Otro                  int64
nombre_estudio_Posgrado              int64
nombre_estudio_Secundario            int64
nombre_estudio_Terciario/Tecnico     int64
nombre_estudio_Universitario         int64
estado_estudio_Abandonado            int64
estado_estudio_EnCurso               int64
estado_estudio_Graduado              int64
sexo_FEM                             int64
sexo_MASC                            int64
sexo_NO_DECLARA                      int64
dtype: object

In [75]:
postulaciones_postulantes_test.dtypes

id                                   int64
idaviso                              int64
idpostulante                        object
edad                                 int64
nombre_estudio_Doctorado             int64
nombre_estudio_Master                int64
nombre_estudio_Otro                  int64
nombre_estudio_Posgrado              int64
nombre_estudio_Secundario            int64
nombre_estudio_Terciario/Tecnico     int64
nombre_estudio_Universitario         int64
estado_estudio_Abandonado            int64
estado_estudio_EnCurso               int64
estado_estudio_Graduado              int64
sexo_FEM                             int64
sexo_MASC                            int64
sexo_NO_DECLARA                      int64
dtype: object

### Juntamos con los avisos

In [3]:
avisos_detalle_joined = pd.read_csv('../data/avisos_detalle_joined.csv', encoding='utf-8')

In [4]:
mem_test=avisos_detalle_joined.memory_usage(index=True).sum()
print("avisos_detalle_joined usa ",mem_test/ 1024**2," MB")
mem_test=postulaciones_postulantes.memory_usage(index=True).sum()
print("postulaciones_postulantes usa ",mem_test/ 1024**2," MB")

avisos_detalle_joined usa  1.1576690673828125  MB
postulaciones_postulantes usa  806.2274932861328  MB

In [5]:
postulaciones_postulantes_avisos = pd.merge(postulaciones_postulantes, avisos_detalle_joined, on='idaviso', how='left')

In [6]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['representantes', 'atencion', 'cliente', 'ret...","[('retencion', 3), ('atencion', 2), ('cliente'...",Part-time,Otro,AtenciónalCliente

In [80]:
postulaciones_postulantes_avisos.isnull().any()

idaviso                             False
idpostulante                        False
edad                                False
nombre_estudio_Doctorado            False
nombre_estudio_Master               False
nombre_estudio_Otro                 False
nombre_estudio_Posgrado             False
nombre_estudio_Secundario           False
nombre_estudio_Terciario/Tecnico    False
nombre_estudio_Universitario        False
estado_estudio_Abandonado           False
estado_estudio_EnCurso              False
estado_estudio_Graduado             False
sexo_FEM                            False
sexo_MASC                           False
sexo_NO_DECLARA                     False
titulo                               True
descripcion                          True
tipo_de_trabajo                      True
nivel_laboral                        True
nombre_area                          True
dtype: bool

In [81]:
postulaciones_postulantes_avisos_test = pd.merge(postulaciones_postulantes_test, avisos_detalle_joined, on='idaviso', how='left')

In [82]:
len(postulaciones_postulantes_avisos_test)

100000

In [83]:
postulaciones_postulantes_test.duplicated('id').any()

False

In [84]:
postulaciones_postulantes_avisos_test.head(1)

,id,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area
0,0,739260,6M9ZQR,42,1,0,0,0,0,0,0,0,0,1,1,0,0,"['asistente', 'comercial']","[('p', 2), ('cliente', 1), ('empresa', 1), ('n...",Full-time,Jefe/Supervisor/Responsable,Comercial

In [85]:
postulaciones_postulantes_avisos_test.isnull().any()

id                                  False
idaviso                             False
idpostulante                        False
edad                                False
nombre_estudio_Doctorado            False
nombre_estudio_Master               False
nombre_estudio_Otro                 False
nombre_estudio_Posgrado             False
nombre_estudio_Secundario           False
nombre_estudio_Terciario/Tecnico    False
nombre_estudio_Universitario        False
estado_estudio_Abandonado           False
estado_estudio_EnCurso              False
estado_estudio_Graduado             False
sexo_FEM                            False
sexo_MASC                           False
sexo_NO_DECLARA                     False
titulo                              False
descripcion                         False
tipo_de_trabajo                     False
nivel_laboral                       False
nombre_area                         False
dtype: bool

#### One hot encoding de columnas categoricas

In [7]:
postulaciones_postulantes_avisos['tipo_full'] = (postulaciones_postulantes_avisos['tipo_de_trabajo'].astype(str) == 'Full-time').astype(bool)
postulaciones_postulantes_avisos['tipo_part'] = (postulaciones_postulantes_avisos['tipo_de_trabajo'].astype(str) == 'Part-time').astype(bool)
postulaciones_postulantes_avisos['tipo_otro'] = ((postulaciones_postulantes_avisos['tipo_de_trabajo'].astype(str) != 'Part-time') & (postulaciones_postulantes_avisos['tipo_de_trabajo'].astype(str) != 'Full-time')).astype(bool)

In [87]:
postulaciones_postulantes_avisos_test['tipo_full'] = (postulaciones_postulantes_avisos_test['tipo_de_trabajo'].astype(str) == 'Full-time').astype(bool)
postulaciones_postulantes_avisos_test['tipo_part'] = (postulaciones_postulantes_avisos_test['tipo_de_trabajo'].astype(str) == 'Part-time').astype(bool)
postulaciones_postulantes_avisos_test['tipo_otro'] = ((postulaciones_postulantes_avisos_test['tipo_de_trabajo'].astype(str) != 'Part-time') & (postulaciones_postulantes_avisos_test['tipo_de_trabajo'].astype(str) != 'Full-time')).astype(bool)

In [88]:
no_postulados['tipo_full'] = (no_postulados['tipo_de_trabajo'].astype(str) == 'Full-time').astype(bool)
no_postulados['tipo_part'] = (no_postulados['tipo_de_trabajo'].astype(str) == 'Part-time').astype(bool)
no_postulados['tipo_otro'] = ((no_postulados['tipo_de_trabajo'].astype(str) != 'Part-time') & (no_postulados['tipo_de_trabajo'].astype(str) != 'Full-time')).astype(bool)

In [8]:
postulaciones_postulantes_avisos.drop(['tipo_de_trabajo'], axis=1, inplace=True)
postulaciones_postulantes_avisos_test.drop(['tipo_de_trabajo'], axis=1, inplace=True)

NameError: name 'postulaciones_postulantes_avisos_test' is not defined

In [90]:
no_postulados.drop(['tipo_de_trabajo'], axis=1, inplace=True)

In [91]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['representantes', 'atencion', 'cliente', 'ret...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,AtenciónalCliente,False,True,False

In [92]:
postulaciones_postulantes_avisos_test.head(1)

,id,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,0,739260,6M9ZQR,42,1,0,0,0,0,0,0,0,0,1,1,0,0,"['asistente', 'comercial']","[('p', 2), ('cliente', 1), ('empresa', 1), ('n...",Jefe/Supervisor/Responsable,Comercial,True,False,False

In [9]:
postulaciones_postulantes_avisos['nivel_laboral'].value_counts()

Senior/Semi-Senior                 4089753
Junior                             1361408
Otro                                506359
Jefe/Supervisor/Responsable         186571
Gerencia/AltaGerencia/Dirección      44623
Name: nivel_laboral, dtype: int64

In [10]:
postulaciones_postulantes_avisos['nivel_laboral'] = postulaciones_postulantes_avisos['nivel_laboral'].astype(str)
postulaciones_postulantes_avisos_test['nivel_laboral'] = postulaciones_postulantes_avisos_test['nivel_laboral'].astype(str)
postulaciones_postulantes_avisos.dtypes

NameError: name 'postulaciones_postulantes_avisos_test' is not defined

In [95]:
no_postulados['nivel_laboral'] = no_postulados['nivel_laboral'].astype(str)

In [96]:
postulaciones_postulantes_avisos_test.dtypes

id                                   int64
idaviso                              int64
idpostulante                        object
edad                                 int64
nombre_estudio_Doctorado             int64
nombre_estudio_Master                int64
nombre_estudio_Otro                  int64
nombre_estudio_Posgrado              int64
nombre_estudio_Secundario            int64
nombre_estudio_Terciario/Tecnico     int64
nombre_estudio_Universitario         int64
estado_estudio_Abandonado            int64
estado_estudio_EnCurso               int64
estado_estudio_Graduado              int64
sexo_FEM                             int64
sexo_MASC                            int64
sexo_NO_DECLARA                      int64
titulo                              object
descripcion                         object
nivel_laboral                       object
nombre_area                         object
tipo_full                             bool
tipo_part                             bool
tipo_otro                             bool
dtype: object

In [11]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['representantes', 'atencion', 'cliente', 'ret...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,AtenciónalCliente,False,True,False

In [12]:
niveles_laborales = postulaciones_postulantes_avisos.nivel_laboral.str.get_dummies()
niveles_laborales.columns = ['nivel_laboral_' + col for col in niveles_laborales.columns]
postulaciones_postulantes_avisos = pd.concat([postulaciones_postulantes_avisos, niveles_laborales], axis=1)
postulaciones_postulantes_avisos.drop(columns=['nivel_laboral'], inplace=True)
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nivel_laboral_nan
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['representantes', 'atencion', 'cliente', 'ret...","[('retencion', 3), ('atencion', 2), ('cliente'...",AtenciónalCliente,False,True,False,0,0,0,1,0,0

In [99]:
niveles_laborales = postulaciones_postulantes_avisos_test.nivel_laboral.str.get_dummies()
niveles_laborales.columns = ['nivel_laboral_' + col for col in niveles_laborales.columns]
postulaciones_postulantes_avisos_test = pd.concat([postulaciones_postulantes_avisos_test, niveles_laborales], axis=1)
postulaciones_postulantes_avisos_test.drop(columns=['nivel_laboral'], inplace=True)
postulaciones_postulantes_avisos_test.head(1)

,id,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior
0,0,739260,6M9ZQR,42,1,0,0,0,0,0,0,0,0,1,1,0,0,"['asistente', 'comercial']","[('p', 2), ('cliente', 1), ('empresa', 1), ('n...",Comercial,True,False,False,0,1,0,0,0

In [100]:
niveles_laborales = no_postulados.nivel_laboral.str.get_dummies()
niveles_laborales.columns = ['nivel_laboral_' + col for col in niveles_laborales.columns]
no_postulados = pd.concat([no_postulados, niveles_laborales], axis=1)
no_postulados.drop(columns=['nivel_laboral'], inplace=True)
no_postulados.head(1)

,idpostulante,edad,idaviso,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior
0,5qrBYw,48,1112203821,Ventas,0,0,0,0,1,0,0,0,0,1,1,0,0,True,False,False,0,0,0,0,1

## One hot encoding de las areas principales

In [13]:
postulaciones_postulantes_avisos['nombre_area'].value_counts()

Ventas                                    860477
Administración                            582135
Producción                                507308
Comercial                                 434737
AtenciónalCliente                         395388
Recepcionista                             304565
CallCenter                                252928
Tesorería                                 155923
Telemarketing                             155494
MantenimientoyLimpieza                    117549
Almacén/Depósito/Expedición               115591
Contabilidad                              114176
RecursosHumanos                            90967
Gastronomia                                87830
Logística                                  85874
Secretaria                                 81428
AdministracióndePersonal                   69196
CréditosyCobranzas                         68032
Marketing                                  63181
Legal                                      58322
Compras                                    51894
SoporteTécnico                             51451
Mantenimiento                              50234
Camareros                                  49614
Farmacéutica                               48779
Finanzas                                   48266
Seguridad                                  45140
OficiosyProfesiones                        41284
JóvenesProfesionales                       38102
Otros                                      37640
                                           ...
MercadotecniaInternacional                   279
Instrumentación                              275
Periodismo                                   272
AuditoríaMédica                              263
Diseño3D                                     252
ArteyCultura                                 240
ExploraciónMinerayPetroquimica               233
Trabajosocial                                216
ResponsabilidadSocial                        199
Idiomas                                      176
InstrumentaciónMinera                        172
Instrumentaciónquirúrgica                    141
IngenieríaGeológica                          129
TrabajoSocial                                113
Educaciónespecial                             97
Emergentología                                97
CuidadosIntensivosCardiologicosAdultos        70
Topografía                                    57
Diagnósticoporimágenes                        44
Kinesiología/terapiaocupacional               35
ClínicaMédica                                 30
Farmaciahospitalaria                          18
Esterilización                                14
Urbanismo                                     13
Prácticascardiológicas                        12
Psicología                                     9
Maternidad                                     9
Odontología                                    3
Traduccion                                     2
Fonoaudiología                                 1
Name: nombre_area, Length: 186, dtype: int64

In [ ]:
'''
areas = postulaciones_postulantes_avisos.nombre_area.str.get_dummies()
areas.columns = ['area_' + col for col in areas.columns]
postulaciones_postulantes_avisos = pd.concat([areas, postulaciones_postulantes_avisos], axis=1)
postulaciones_postulantes_avisos.head(1)
'''

In [ ]:
'''
areas = postulaciones_postulantes_avisos_test.nombre_area.str.get_dummies()
areas.columns = ['area_' + col for col in areas.columns]
postulaciones_postulantes_avisos_test = pd.concat([areas, postulaciones_postulantes_avisos_test], axis=1)
postulaciones_postulantes_avisos_test.head(1)
'''

In [145]:
'''
postulaciones_postulantes_avisos.drop(columns=['nombre_area'], inplace=True)
postulaciones_postulantes_avisos_test.drop(columns=['nombre_area'], inplace=True)
'''

In [14]:
# Tomamos top 20 de las areas 
areas_top_20 = postulaciones_postulantes_avisos['nombre_area'].value_counts().nlargest(20).index
for area in areas_top_20:
    postulaciones_postulantes_avisos[area] = (postulaciones_postulantes_avisos['nombre_area'] == area).astype(bool)

postulaciones_postulantes_avisos.head(2)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nivel_laboral_nan,Ventas,Administración,Producción,Comercial,AtenciónalCliente,Recepcionista,CallCenter,Tesorería,Telemarketing,MantenimientoyLimpieza,Almacén/Depósito/Expedición,Contabilidad,RecursosHumanos,Gastronomia,Logística,Secretaria,AdministracióndePersonal,CréditosyCobranzas,Marketing,Legal
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['representantes', 'atencion', 'cliente', 'ret...","[('retencion', 3), ('atencion', 2), ('cliente'...",AtenciónalCliente,False,True,False,0,0,0,1,0,0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,1111920714,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['telemarketers', 'part', 'time', 'venta', 'ta...","[('part', 2), ('time', 2), ('empresa', 2), ('o...",Telemarketing,False,True,False,0,0,0,0,1,0,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [103]:
# Tomamos top 20 de las areas 
areas_top_20 = postulaciones_postulantes_avisos['nombre_area'].value_counts().nlargest(20).index
for area in areas_top_20:
    postulaciones_postulantes_avisos_test[area] = (postulaciones_postulantes_avisos_test['nombre_area'] == area).astype(bool)

postulaciones_postulantes_avisos_test.head(2)

,id,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,Ventas,Administración,Producción,Comercial,AtenciónalCliente,Recepcionista,CallCenter,Tesorería,Telemarketing,MantenimientoyLimpieza,Almacén/Depósito/Expedición,Contabilidad,RecursosHumanos,Gastronomia,Logística,Secretaria,AdministracióndePersonal,CréditosyCobranzas,Marketing,Legal
0,0,739260,6M9ZQR,42,1,0,0,0,0,0,0,0,0,1,1,0,0,"['asistente', 'comercial']","[('p', 2), ('cliente', 1), ('empresa', 1), ('n...",Comercial,True,False,False,0,1,0,0,0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,1,739260,6v1xdL,31,0,0,0,0,0,1,0,0,0,1,0,1,0,"['asistente', 'comercial']","[('p', 2), ('cliente', 1), ('empresa', 1), ('n...",Comercial,True,False,False,0,1,0,0,0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [104]:
# Tomamos top 20 de las areas 
areas_top_20 = postulaciones_postulantes_avisos['nombre_area'].value_counts().nlargest(20).index
for area in areas_top_20:
    no_postulados[area] = (no_postulados['nombre_area'] == area).astype(bool)

postulaciones_postulantes_avisos_test.head(2)

,id,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,Ventas,Administración,Producción,Comercial,AtenciónalCliente,Recepcionista,CallCenter,Tesorería,Telemarketing,MantenimientoyLimpieza,Almacén/Depósito/Expedición,Contabilidad,RecursosHumanos,Gastronomia,Logística,Secretaria,AdministracióndePersonal,CréditosyCobranzas,Marketing,Legal
0,0,739260,6M9ZQR,42,1,0,0,0,0,0,0,0,0,1,1,0,0,"['asistente', 'comercial']","[('p', 2), ('cliente', 1), ('empresa', 1), ('n...",Comercial,True,False,False,0,1,0,0,0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,1,739260,6v1xdL,31,0,0,0,0,0,1,0,0,0,1,0,1,0,"['asistente', 'comercial']","[('p', 2), ('cliente', 1), ('empresa', 1), ('n...",Comercial,True,False,False,0,1,0,0,0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [105]:
print(postulaciones_postulantes_avisos.shape)
print(postulaciones_postulantes_avisos_test.shape)
print(no_postulados.shape)

(6604615, 48)
(100000, 48)
(6500000, 45)

In [106]:
no_postulados.to_csv('../data/no_postulados.csv', index=False, sep=',', encoding='utf-8')

## Exportamos la estructura de los datos a predecir a un csv X_test

In [107]:
postulaciones_postulantes_avisos_test.to_csv('../data/X_test.csv', index=False, sep=',', encoding='utf-8')

In [ ]:
no_postulados = pd.read_csv('../data/no_postulados.csv', sep=',', encoding='utf-8')

In [22]:
postulaciones_postulantes_avisos_test = pd.read_csv('../data/X_test.csv', sep=',', encoding='utf-8')

## Agregamos la columna a predecir y generamos muestras aleatorias para los casos negativos

Hasta aca tenemos para el set de entrenamiento todos registros para los cuales la columna a predecir ('postulado') va a ser true. Vamos a generar una muestra random de registros para armar los 'postulado'==false

In [15]:
postulaciones_postulantes_avisos['sepostulo'] = True

In [17]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nivel_laboral_nan,Ventas,Administración,Producción,Comercial,AtenciónalCliente,Recepcionista,CallCenter,Tesorería,Telemarketing,MantenimientoyLimpieza,Almacén/Depósito/Expedición,Contabilidad,RecursosHumanos,Gastronomia,Logística,Secretaria,AdministracióndePersonal,CréditosyCobranzas,Marketing,Legal,sepostulo
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['representantes', 'atencion', 'cliente', 'ret...","[('retencion', 3), ('atencion', 2), ('cliente'...",AtenciónalCliente,False,True,False,0,0,0,1,0,0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [18]:
postulaciones_postulantes_avisos.to_csv('../data/postulaciones_postulantes_avisos.csv', index=False, sep=',', encoding='utf-8')

In [2]:
postulaciones_postulantes_avisos = pd.read_csv('../data/postulaciones_postulantes_avisos.csv', encoding='utf-8')

In [111]:
print(len(postulaciones_postulantes_avisos))
postulaciones_postulantes_avisos.head(1)

6604615

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nivel_laboral_nan,Ventas,Administración,Producción,Comercial,AtenciónalCliente,Recepcionista,CallCenter,Tesorería,Telemarketing,MantenimientoyLimpieza,Almacén/Depósito/Expedición,Contabilidad,RecursosHumanos,Gastronomia,Logística,Secretaria,AdministracióndePersonal,CréditosyCobranzas,Marketing,Legal,sepostulo
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['representantes', 'atencion', 'cliente', 'ret...","[('retencion', 3), ('atencion', 2), ('cliente'...",AtenciónalCliente,False,True,False,0,0,0,1,0,0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

### Juntamos con los pares (idAviso, idPostulante) con sepostulo == False

In [19]:
no_postulados = pd.read_csv('../data/no_postulados.csv', encoding='utf-8')

In [20]:
no_postulados['sepostulo'] = False
no_postulados.head(1)

,idpostulante,edad,idaviso,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,Ventas,Administración,Producción,Comercial,AtenciónalCliente,Recepcionista,CallCenter,Tesorería,Telemarketing,MantenimientoyLimpieza,Almacén/Depósito/Expedición,Contabilidad,RecursosHumanos,Gastronomia,Logística,Secretaria,AdministracióndePersonal,CréditosyCobranzas,Marketing,Legal,sepostulo
0,5qrBYw,48,1112203821,Ventas,0,0,0,0,1,0,0,0,0,1,1,0,0,True,False,False,0,0,0,0,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [114]:
no_postulados.to_csv('../data/no_postulados.csv', index=False, sep=',', encoding='utf-8')

In [21]:
print(len(no_postulados))
no_postulados.head(1)

6500000

,idpostulante,edad,idaviso,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,Ventas,Administración,Producción,Comercial,AtenciónalCliente,Recepcionista,CallCenter,Tesorería,Telemarketing,MantenimientoyLimpieza,Almacén/Depósito/Expedición,Contabilidad,RecursosHumanos,Gastronomia,Logística,Secretaria,AdministracióndePersonal,CréditosyCobranzas,Marketing,Legal,sepostulo
0,5qrBYw,48,1112203821,Ventas,0,0,0,0,1,0,0,0,0,1,1,0,0,True,False,False,0,0,0,0,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [115]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,edad,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,titulo,descripcion,nombre_area,tipo_full,tipo_part,tipo_otro,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nivel_laboral_nan,Ventas,Administración,Producción,Comercial,AtenciónalCliente,Recepcionista,CallCenter,Tesorería,Telemarketing,MantenimientoyLimpieza,Almacén/Depósito/Expedición,Contabilidad,RecursosHumanos,Gastronomia,Logística,Secretaria,AdministracióndePersonal,CréditosyCobranzas,Marketing,Legal,sepostulo
0,1112257047,NM5M,48,0,0,0,0,1,0,0,0,0,1,1,0,0,"['representantes', 'atencion', 'cliente', 'ret...","[('retencion', 3), ('atencion', 2), ('cliente'...",AtenciónalCliente,False,True,False,0,0,0,1,0,0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [116]:
postulaciones_postulantes_avisos.dtypes

idaviso                                           int64
idpostulante                                     object
edad                                              int64
nombre_estudio_Doctorado                          int64
nombre_estudio_Master                             int64
nombre_estudio_Otro                               int64
nombre_estudio_Posgrado                           int64
nombre_estudio_Secundario                         int64
nombre_estudio_Terciario/Tecnico                  int64
nombre_estudio_Universitario                      int64
estado_estudio_Abandonado                         int64
estado_estudio_EnCurso                            int64
estado_estudio_Graduado                           int64
sexo_FEM                                          int64
sexo_MASC                                         int64
sexo_NO_DECLARA                                   int64
titulo                                           object
descripcion                                      object
nombre_area                                      object
tipo_full                                          bool
tipo_part                                          bool
tipo_otro                                          bool
nivel_laboral_Gerencia/AltaGerencia/Dirección     int64
nivel_laboral_Jefe/Supervisor/Responsable         int64
nivel_laboral_Junior                              int64
nivel_laboral_Otro                                int64
nivel_laboral_Senior/Semi-Senior                  int64
nivel_laboral_nan                                 int64
Ventas                                             bool
Administración                                     bool
Producción                                         bool
Comercial                                          bool
AtenciónalCliente                                  bool
Recepcionista                                      bool
CallCenter                                         bool
Tesorería                                          bool
Telemarketing                                      bool
MantenimientoyLimpieza                             bool
Almacén/Depósito/Expedición                        bool
Contabilidad                                       bool
RecursosHumanos                                    bool
Gastronomia                                        bool
Logística                                          bool
Secretaria                                         bool
AdministracióndePersonal                           bool
CréditosyCobranzas                                 bool
Marketing                                          bool
Legal                                              bool
sepostulo                                          bool
dtype: object

In [117]:
no_postulados.dtypes

idpostulante                                     object
edad                                              int64
idaviso                                           int64
nombre_area                                      object
nombre_estudio_Doctorado                          int64
nombre_estudio_Master                             int64
nombre_estudio_Otro                               int64
nombre_estudio_Posgrado                           int64
nombre_estudio_Secundario                         int64
nombre_estudio_Terciario/Tecnico                  int64
nombre_estudio_Universitario                      int64
estado_estudio_Abandonado                         int64
estado_estudio_EnCurso                            int64
estado_estudio_Graduado                           int64
sexo_FEM                                          int64
sexo_MASC                                         int64
sexo_NO_DECLARA                                   int64
tipo_full                                          bool
tipo_part                                          bool
tipo_otro                                          bool
nivel_laboral_Gerencia/AltaGerencia/Dirección     int64
nivel_laboral_Jefe/Supervisor/Responsable         int64
nivel_laboral_Junior                              int64
nivel_laboral_Otro                                int64
nivel_laboral_Senior/Semi-Senior                  int64
Ventas                                             bool
Administración                                     bool
Producción                                         bool
Comercial                                          bool
AtenciónalCliente                                  bool
Recepcionista                                      bool
CallCenter                                         bool
Tesorería                                          bool
Telemarketing                                      bool
MantenimientoyLimpieza                             bool
Almacén/Depósito/Expedición                        bool
Contabilidad                                       bool
RecursosHumanos                                    bool
Gastronomia                                        bool
Logística                                          bool
Secretaria                                         bool
AdministracióndePersonal                           bool
CréditosyCobranzas                                 bool
Marketing                                          bool
Legal                                              bool
sepostulo                                          bool
dtype: object

De los random que generamos forzamos a todos con postulado=False, lo cual puede ser incorrecto. En caso de que el par (idAviso, idPostulante) exista en el postulaciones_postulantes_avisos deberia prevalecer ese. Para lograr esto con ambos sets concatenados, eliminamos los repetidos considerando estas dos columnas y nos quedamos con la primera repeticion (la del primer dataset, que es el que tiene la informacion real)

In [23]:
# No aguanta la memoria, tomo una muestra mas chica de ambos sets
postulaciones_postulantes_avisos = postulaciones_postulantes_avisos.sample(3000000)
no_postulados = no_postulados.sample(3000000)

In [24]:
training = pd.concat([postulaciones_postulantes_avisos, no_postulados])

In [25]:
training.head(1)

,Administración,AdministracióndePersonal,Almacén/Depósito/Expedición,AtenciónalCliente,CallCenter,Comercial,Contabilidad,CréditosyCobranzas,Gastronomia,Legal,Logística,MantenimientoyLimpieza,Marketing,Producción,Recepcionista,RecursosHumanos,Secretaria,Telemarketing,Tesorería,Ventas,descripcion,edad,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,idaviso,idpostulante,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nivel_laboral_nan,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,sepostulo,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_otro,tipo_part,titulo
2796616,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('cobranzas', 2), ('villa', 2), ('gestion', 2...",37,0,1,0,1112352311,wVXwLXw,0,0,0,0,1,0.0,Administración,0,0,0,0,0,0,1,True,0,1,0,True,False,False,"['administrativa', 'creditos', 'cobranzas']"

In [26]:
len(training)

6000000

In [27]:
training.to_csv('../data/X_train.csv', index=False, sep=',', encoding='utf-8')

In [2]:
training = pd.read_csv('../data/X_train.csv', sep=',', encoding='utf-8')

/home/tbotalla/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
training.drop_duplicates(subset = ['idaviso','idpostulante'], keep = 'first',inplace = True)

In [29]:
print(len(training))

5998506

In [33]:
training.sample(20)

,Administración,AdministracióndePersonal,Almacén/Depósito/Expedición,AtenciónalCliente,CallCenter,Comercial,Contabilidad,CréditosyCobranzas,Gastronomia,Legal,Logística,MantenimientoyLimpieza,Marketing,Producción,Recepcionista,RecursosHumanos,Secretaria,Telemarketing,Tesorería,Ventas,descripcion,edad,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,idaviso,idpostulante,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nivel_laboral_nan,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,sepostulo,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_otro,tipo_part,titulo
4743341,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,26,0,1,0,1111573636,dYoKRZ0,0,0,1,0,0,NaN,Otros,0,0,0,0,0,0,1,False,1,0,0,True,False,False,NaN
1733058,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,"[('rubro', 2), ('zona', 2), ('ciudadela', 2), ...",38,0,0,1,1112276981,EzZqEQz,0,0,0,0,1,0.0,Producción,0,0,0,0,1,0,0,True,0,1,0,True,False,False,"['l', 'operarios', 'produccion', 'rubro', 'ali..."
3665884,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,NaN,30,0,0,1,1112424032,QNl0Dre,0,0,0,0,1,NaN,Ventas,0,0,0,0,0,0,1,False,0,1,0,True,False,False,NaN
1067314,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,"[('inyector', 2), ('plastico', 2), ('produccio...",23,0,1,0,1112296636,xk96280,0,0,0,0,1,0.0,Producción,0,1,0,0,0,0,0,True,0,1,0,True,False,False,"['operario', 'inyeccion']"
6423748,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('villa', 3), ('san', 3), ('empresa', 2), ('i...",31,0,0,1,1112423483,jkj8Lzj,0,0,0,0,1,0.0,Seguridad,0,0,0,0,0,1,0,True,0,1,0,True,False,False,"['custodios', 'zona', 'norte']"
4780132,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('zona', 3), ('san', 3), ('busqueda', 2), ('p...",25,0,0,1,1112284643,MV6pDze,0,0,1,0,0,0.0,Selección,0,0,0,0,0,0,1,True,1,0,0,True,False,False,"['selectora', 'personal', 'junior', 'zona', 's..."
4320016,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('proveedores', 3), ('cumplir', 3), ('empresa...",34,0,1,0,1112408779,OqmrkVv,0,0,0,0,1,0.0,Administración,0,0,0,0,0,0,1,True,0,1,0,True,False,False,"['encargado', 'proveedores']"
1802835,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,27,0,0,1,1112205216,MV69e4e,0,0,0,0,1,NaN,Tecnologia/Sistemas,0,0,0,0,0,0,1,False,1,0,0,True,False,False,NaN
5531336,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('tareas', 3), ('entrevistas', 3), ('busqueda...",23,0,1,0,1112422181,JBxo9D3,0,0,1,0,0,0.0,Selección,0,0,0,0,0,0,1,True,0,1,0,True,False,False,"['analista', 'jr', 'seleccion', 'personal']"
3586943,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,NaN,26,0,0,1,1112235926,bOzr3bd,0,0,1,0,0,NaN,Ventas,0,0,0,0,0,1,0,False,1,0,0,False,False,True,NaN
3021345,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('cumplir', 2), ('capital', 2), ('federal', 2...",20,0,0,1,1112344850,RzPYNGY,0,0,0,1,0,0.0,Administración,0,0,0,0,1,0,0,True,0,1,0,True,False,False,"['empleada', 'administrativa', 'experiencia', ..."
5622400,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('gestion', 2), ('empresa', 1), ('importante'...",30,0,1,0,1112279893,ak5zqJE,0,0,0,1,0,0.0,Administración,0,0,0,0,0,0,1,True,1,0,0,True,False,False,"['personal', 'administrativo']"
254294,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,24,0,0,1,1112448330,3NQzmjX,0,0,0,0,1,NaN,CorporateFinance/BancaInversión,0,0,0,0,1,0,0,False,0,1,0,True,False,False,NaN
4102326,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,"[('experiencia', 2), ('importante', 1), ('logi...",29,0,0,1,1112442048,55aeBw,0,0,0,1,0,0.0,Producción,0,0,0,0,1,0,0,True,0,1,0,True,False,False,"['operario', 'logistica', 'retail']"
1594181,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,30,0,0,1,1112312705,A39Mrv5,0,0,0,0,0,1.0,NaN,0,0,0,0,0,1,0,True,0,1,0,False,True,False,NaN
6491600,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('nivel', 2), ('tiendas', 2), ('administracio...",24,0,1,0,1112461553,xk9JDa0,0,0,1,0,0,0.0,Administración,0,0,0,0,0,0,1,True,0,1,0,True,False,False,"['auxiliar', 'administracion', 'datos']"
6268759,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,"[('estudio', 2), ('juridico', 2), ('buena', 2)...",23,1,0,0,1112423441,1QqkzWb,0,0,1,0,0,0.0,Recepcionista,0,0,0,0,0,0,1,True,1,0,0,True,False,False,"['recepcionista', 'estudio', 'juridico']"
1656575,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('gerencia', 3), ('informacion', 2), ('import...",25,0,1,0,1112362119,8Mrr8dM,0,0,0,0,1,0.0,Administración,0,0,0,0,0,0,1,True,1,0,0,True,False,False,"['asistente', 'gerencia', 'estudiante', 'comer..."
972483,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,"[('negocio', 5), ('re', 4), ('max', 4), ('posi...",35,0,0,1,1112009194,xkdA6mj,0,0,0,1,0,0.0,Ventas,0,0,0,0,1,0,0,True,1,0,0,True,False,False,"['vendedor', 'agente', 'inmobiliario', 'zona',..."
6116675,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('contar', 2), ('plazo', 2), ('kantar', 1), (...",25,0,0,1,1112402666,VNkNdel,0,0,1,0,0,0.0,CallCenter,0,0,0,0,1,0,0,True,1,0,0,False,False,True,"['encuestadores', 'telefonicos']"

In [34]:
print(len(training[training['sepostulo'] == True]))
print(len(training[training['sepostulo'] == False]))

2999734
2998772

In [35]:
training.head(1)

,Administración,AdministracióndePersonal,Almacén/Depósito/Expedición,AtenciónalCliente,CallCenter,Comercial,Contabilidad,CréditosyCobranzas,Gastronomia,Legal,Logística,MantenimientoyLimpieza,Marketing,Producción,Recepcionista,RecursosHumanos,Secretaria,Telemarketing,Tesorería,Ventas,descripcion,edad,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,idaviso,idpostulante,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nivel_laboral_nan,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,sepostulo,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_otro,tipo_part,titulo
2796616,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('cobranzas', 2), ('villa', 2), ('gestion', 2...",37,0,1,0,1112352311,wVXwLXw,0,0,0,0,1,0.0,Administración,0,0,0,0,0,0,1,True,0,1,0,True,False,False,"['administrativa', 'creditos', 'cobranzas']"

In [36]:
training.dtypes

Administración                                      bool
AdministracióndePersonal                            bool
Almacén/Depósito/Expedición                         bool
AtenciónalCliente                                   bool
CallCenter                                          bool
Comercial                                           bool
Contabilidad                                        bool
CréditosyCobranzas                                  bool
Gastronomia                                         bool
Legal                                               bool
Logística                                           bool
MantenimientoyLimpieza                              bool
Marketing                                           bool
Producción                                          bool
Recepcionista                                       bool
RecursosHumanos                                     bool
Secretaria                                          bool
Telemarketing                                       bool
Tesorería                                           bool
Ventas                                              bool
descripcion                                       object
edad                                               int64
estado_estudio_Abandonado                          int64
estado_estudio_EnCurso                             int64
estado_estudio_Graduado                            int64
idaviso                                            int64
idpostulante                                      object
nivel_laboral_Gerencia/AltaGerencia/Dirección      int64
nivel_laboral_Jefe/Supervisor/Responsable          int64
nivel_laboral_Junior                               int64
nivel_laboral_Otro                                 int64
nivel_laboral_Senior/Semi-Senior                   int64
nivel_laboral_nan                                float64
nombre_area                                       object
nombre_estudio_Doctorado                           int64
nombre_estudio_Master                              int64
nombre_estudio_Otro                                int64
nombre_estudio_Posgrado                            int64
nombre_estudio_Secundario                          int64
nombre_estudio_Terciario/Tecnico                   int64
nombre_estudio_Universitario                       int64
sepostulo                                           bool
sexo_FEM                                           int64
sexo_MASC                                          int64
sexo_NO_DECLARA                                    int64
tipo_full                                           bool
tipo_otro                                           bool
tipo_part                                           bool
titulo                                            object
dtype: object

In [37]:
training.drop(columns=['nivel_laboral_nan'], inplace=True) #FIXME

In [38]:
# Shuffle de los elementos para que no queden todos los sepostulo true primero y los false al final
training = training.sample(frac=1).reset_index(drop=True)

In [39]:
training.head(15)

,Administración,AdministracióndePersonal,Almacén/Depósito/Expedición,AtenciónalCliente,CallCenter,Comercial,Contabilidad,CréditosyCobranzas,Gastronomia,Legal,Logística,MantenimientoyLimpieza,Marketing,Producción,Recepcionista,RecursosHumanos,Secretaria,Telemarketing,Tesorería,Ventas,descripcion,edad,estado_estudio_Abandonado,estado_estudio_EnCurso,estado_estudio_Graduado,idaviso,idpostulante,nivel_laboral_Gerencia/AltaGerencia/Dirección,nivel_laboral_Jefe/Supervisor/Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior/Semi-Senior,nombre_area,nombre_estudio_Doctorado,nombre_estudio_Master,nombre_estudio_Otro,nombre_estudio_Posgrado,nombre_estudio_Secundario,nombre_estudio_Terciario/Tecnico,nombre_estudio_Universitario,sepostulo,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,tipo_full,tipo_otro,tipo_part,titulo
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,"[('caba', 2), ('importante', 1), ('cadena', 1)...",27,0,0,1,1112418025,6r5vxAM,0,0,0,0,1,Ventas,0,0,0,0,0,0,1,True,1,0,0,True,False,False,"['j', 'cajeros', 'zona', 'caba']"
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('importante', 1), ('empresa', 1), ('importad...",42,0,0,1,1112306289,Nz0Wvp5,0,0,0,0,1,Distribución,0,0,0,0,1,0,0,True,0,1,0,True,False,False,"['chofer', 'p', 'camion', 'camioneta']"
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,27,0,1,0,1112428767,pzMDpOp,0,0,0,0,1,Administración,0,0,0,0,0,1,0,False,0,0,1,True,False,False,NaN
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('clientes', 4), ('ap', 2), ('asesorar', 2), ...",28,0,1,0,1112420416,LNebDDp,0,0,0,0,1,AdministraciondeSeguros,0,0,0,0,0,0,1,True,1,0,0,True,False,False,"['suscriptor', 'integral', 'ap', 'neuquen']"
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,28,0,1,0,1112312883,DrX5lRW,0,0,0,0,0,NaN,0,0,0,0,0,1,0,True,0,1,0,False,True,False,NaN
5,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,22,0,1,0,1112377837,W9VzPZm,0,0,0,0,1,Administración,0,0,0,0,0,0,1,False,1,0,0,True,False,False,NaN
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,"[('excluyente', 3), ('empresa', 2), ('venta', ...",28,0,0,1,1112466576,ow5WMb4,0,0,1,0,0,Ventas,0,0,0,0,0,0,1,True,0,1,0,True,False,False,"['vendedor', 'salon']"
7,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,25,0,0,1,1112476679,xkvM06x,0,0,0,0,1,Comercial,0,0,0,0,0,0,1,False,0,1,0,True,False,False,NaN
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('oeste', 5), ('zona', 4), ('farmacia', 2), (...",48,0,1,0,1111903673,ZDrjbl1,0,0,0,1,0,Farmacéutica,0,0,0,0,0,0,1,True,0,1,0,True,False,False,"['empleado', 'deposito', 'farmacia']"
9,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,18,0,0,1,1112471460,Eze1lO4,0,1,0,0,0,CallCenter,0,0,0,0,0,0,1,False,0,1,0,True,False,False,NaN
10,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,NaN,38,1,0,0,1112257273,eQe8kB,0,0,0,0,1,Logística,0,0,0,0,1,0,0,False,0,1,0,True,False,False,NaN
11,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,27,0,0,1,1112447728,bOjBY1V,0,0,1,0,0,Almacén/Depósito/Expedición,0,0,0,0,0,0,1,False,0,0,1,True,False,False,NaN
12,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,"[('accenture', 3), ('equipo', 2), ('contabilid...",32,0,0,1,1112286830,YZmrKq,0,0,0,0,1,Contabilidad,0,0,0,0,0,0,1,True,1,0,0,True,False,False,"['analista', 'sr', 'contable', 'ingles', 'avan..."
13,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,"[('produccion', 7), ('ingeniero', 4), ('empres...",27,0,0,1,1112259756,NzPNQqz,0,1,0,0,0,Producción,0,0,0,0,0,0,1,True,0,1,0,True,False,False,"['responsable', 'produccion', 'mar', 'plata']"
14,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,NaN,52,0,0,1,1112254077,ow2pkpZ,0,0,0,0,1,Logística,0,0,0,0,0,0,1,False,0,1,0,True,False,False,NaN

In [36]:
postulaciones_postulantes_avisos_test = pd.read_csv('../data/X_test.csv', sep=',', encoding='utf-8')

In [ ]:
training.head(15)

In [40]:
target = training[['sepostulo']]
training.drop('sepostulo', axis=1, inplace=True)

In [41]:
print('train shape:',training.shape,'| target shape:',target.shape)
print('test shape:',postulaciones_postulantes_avisos_test.shape)

train shape: (5998506, 47) | target shape: (5998506, 1)
test shape: (100000, 48)

El de test tiene una columna mas por el id que identifica al par (idaviso, idpostulante)

In [42]:
training.to_csv('../data/X_train.csv', index=False, sep=',', encoding='utf-8')
target.to_csv('../data/target.csv', index=False, sep=',', encoding='utf-8')

In [43]:
postulaciones_postulantes_avisos_test.to_csv('../data/X_test.csv', index=False, sep=',', encoding='utf-8')