In [1]:
import numpy as np 
import pandas as pd
import datetime
import calendar
import matplotlib.pyplot as plt
import seaborn as sns
import re # regex
from scipy.misc import imread
#from wordcloud import WordCloud, STOPWORDS # Wordcloud: pip install wordcloud
from collections import Counter

%matplotlib inline
pd.set_option('display.max_columns', None)

# Sets para entrenar

## Datos del TP 1

In [2]:
postulantes_educacion_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_3_vistas.csv', encoding='utf-8')
postulaciones_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_4_postulaciones.csv', encoding='utf-8')
avisos_online_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_5_avisos_online.csv', encoding='utf-8')
avisos_detalle_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv', encoding='utf-8')

## Datos hasta 15 abril

In [3]:
postulantes_educacion_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_3_vistas.csv', encoding='utf-8')
postulaciones_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_4_postulaciones.csv', encoding='utf-8')
avisos_online_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_5_avisos_online.csv', encoding='utf-8')
avisos_detalle_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_6_avisos_detalle.csv', encoding='utf-8')

# Sets para testear

## Datos desde 15 abril

In [4]:
postulantes_educacion_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_3_vistas.csv', encoding='utf-8')
avisos_detalle_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_6_avisos_detalle.csv', encoding='utf-8')

## 338 faltantes

In [5]:
# Estos registros solo aparecen en el set a predecir
avisos_detalle_338_faltantes = pd.read_csv('../data/datos_navent_fiuba/338_faltantes/fiuba_6_avisos_detalle_missing_nivel_laboral.csv', encoding='utf-8')

### Juntamos los 338 registros que faltan con el set a predecir

In [6]:
avisos_detalle_desde_15_04 = pd.concat([avisos_detalle_desde_15_04, avisos_detalle_338_faltantes])

In [7]:
print(len(avisos_detalle_desde_15_04))

14136

## Unificamos los datos del TP 1 con los de hasta el 15 de abril

### postulantes_educacion

In [20]:
print('Longitud original: ', len(postulantes_educacion_orig))
print('Longitud nuevo set: ', len(postulantes_educacion_hasta_15_04))
postulantes_educacion = pd.concat([postulantes_educacion_orig, postulantes_educacion_hasta_15_04])
print('Longitud concat: ', len(postulantes_educacion))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
postulantes_educacion.drop_duplicates(['idpostulante', 'nombre', 'estado'], keep='last', inplace=True)
print('Longitud unique: ', len(postulantes_educacion))

Longitud original:  298231
Longitud nuevo set:  407453
Longitud concat:  705684
Longitud unique:  568612

In [21]:
postulantes_educacion.to_csv('../data/1_postulantes_educacion.csv', index=False, sep=',', encoding='utf-8')

### postulantes_genero_edad

In [22]:
print('Longitud original: ', len(postulantes_genero_edad_orig))
print('Longitud nuevo set: ', len(postulantes_genero_edad_hasta_15_04))
postulantes_genero_edad = pd.concat([postulantes_genero_edad_orig, postulantes_genero_edad_hasta_15_04])
print('Longitud concat: ', len(postulantes_genero_edad))

# Eliminamos los duplicados. En este caso se considera duplicado si el idpostulante matchea
postulantes_genero_edad.drop_duplicates(['idpostulante'], keep='last', inplace=True)
print('Longitud unique: ', len(postulantes_genero_edad))

Longitud original:  200888
Longitud nuevo set:  297747
Longitud concat:  498635
Longitud unique:  408146

In [23]:
postulantes_genero_edad.to_csv('../data/2_postulantes_genero_edad.csv', index=False, sep=',', encoding='utf-8')

### vistas

In [24]:
print('Longitud original: ', len(vistas_orig))
print('Longitud nuevo set: ', len(vistas_hasta_15_04))
vistas = pd.concat([vistas_orig, vistas_hasta_15_04])
print('Longitud concat: ', len(vistas))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
vistas.drop_duplicates(['idaviso', 'timestamp', 'idpostulante'], keep='last', inplace=True)
print('Longitud unique: ', len(vistas))

Longitud original:  961897
Longitud nuevo set:  5758686
Longitud concat:  6720583
Longitud unique:  6682591

In [25]:
vistas.to_csv('../data/3_vistas.csv', index=False, sep=',', encoding='utf-8')

### postulaciones

In [26]:
print('Longitud original: ', len(postulaciones_orig))
print('Longitud nuevo set: ', len(postulaciones_hasta_15_04))
postulaciones = pd.concat([postulaciones_orig, postulaciones_hasta_15_04])
print('Longitud concat: ', len(postulaciones))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
postulaciones.drop_duplicates(['idaviso', 'idpostulante', 'fechapostulacion'], keep='last', inplace=True)
print('Longitud unique: ', len(postulaciones))

Longitud original:  3401623
Longitud nuevo set:  4909641
Longitud concat:  8311264
Longitud unique:  6604534

In [27]:
postulaciones.to_csv('../data/4_postulaciones.csv', index=False, sep=',', encoding='utf-8')

### avisos_online

In [28]:
print('Longitud original: ', len(avisos_online_orig))
print('Longitud nuevo set: ', len(avisos_online_hasta_15_04))
avisos_online = pd.concat([avisos_online_orig, avisos_online_hasta_15_04])
print('Longitud concat: ', len(avisos_online))

# Eliminamos los duplicados. En este caso se considera duplicado si esta columna matchea
avisos_online.drop_duplicates(['idaviso'], keep='last', inplace=True)
print('Longitud unique: ', len(avisos_online))

Longitud original:  5028
Longitud nuevo set:  4858
Longitud concat:  9886
Longitud unique:  9430

In [29]:
avisos_online.to_csv('../data/5_avisos_online.csv', index=False, sep=',', encoding='utf-8')

### avisos_detalle

In [30]:
print('Longitud original: ', len(avisos_detalle_orig))
print('Longitud nuevo set: ', len(avisos_detalle_hasta_15_04))
avisos_detalle = pd.concat([avisos_detalle_orig, avisos_detalle_hasta_15_04])
print('Longitud concat: ', len(avisos_detalle))

# Eliminamos los duplicados. En este caso se considera duplicado si matchean estas columnas (por no matchear todas)
avisos_detalle.drop_duplicates(['idaviso', 'titulo', 'descripcion', 'nombre_zona', 'ciudad', 'tipo_de_trabajo', 'nivel_laboral'], keep='last', inplace=True)
print('Longitud unique: ', len(avisos_detalle))

Longitud original:  13534
Longitud nuevo set:  18299
Longitud concat:  31833
Longitud unique:  19632

In [31]:
avisos_detalle.to_csv('../data/6_avisos_detalle.csv', index=False, sep=',', encoding='utf-8')

## Postulantes unificados de todas las fechas

In [53]:
print(len(postulantes_educacion))
print(len(postulantes_genero_edad))

568612
408146

In [60]:
postulantes = pd.merge(postulantes_educacion, postulantes_genero_edad, on='idpostulante', how='outer')
postulantes_test = pd.merge(postulantes_educacion_hasta_15_04, postulantes_genero_edad_hasta_15_04, on='idpostulante', how='outer')

In [56]:
print(len(postulantes))

610363

In [61]:
postulantes.head(10)

  idpostulante             nombre    estado fechanacimiento  sexo
0         8BkL      Universitario  En Curso      1976-07-21   FEM
1         8BkL      Universitario  Graduado      1976-07-21   FEM
2         8BkL           Posgrado  Graduado      1976-07-21   FEM
3         8BkL             Master  Graduado      1976-07-21   FEM
4         1d2B      Universitario  En Curso      1976-02-28  MASC
5         Ym2X               Otro  En Curso      1964-01-19  MASC
6         Ym2X      Universitario  Graduado      1964-01-19  MASC
7        6M3jr      Universitario  En Curso      1975-11-03  MASC
8        Z85B5      Universitario  En Curso      1976-04-27   FEM
9        Z85B5  Terciario/Técnico  Graduado      1976-04-27   FEM

In [62]:
print(len(postulantes))
print(len(postulantes_test))

610363
441412

In [63]:
postulantes.isnull().any()

idpostulante       False
nombre              True
estado              True
fechanacimiento     True
sexo               False
dtype: bool

In [64]:
postulantes_test.isnull().any()

idpostulante       False
nombre              True
estado              True
fechanacimiento     True
sexo               False
dtype: bool

In [70]:
postulantes_joined = pd.concat([postulantes, postulantes_test])

In [71]:
len(postulantes_joined)

1051775

In [74]:
postulantes_joined[postulantes_joined['idpostulante'] == '8BkL']

     idpostulante         nombre    estado fechanacimiento sexo
0            8BkL  Universitario  En Curso      1976-07-21  FEM
1            8BkL  Universitario  Graduado      1976-07-21  FEM
2            8BkL       Posgrado  Graduado      1976-07-21  FEM
3            8BkL         Master  Graduado      1976-07-21  FEM
9768         8BkL  Universitario  Graduado      1976-07-21  FEM
9769         8BkL       Posgrado  Graduado      1976-07-21  FEM
9770         8BkL         Master  Graduado      1976-07-21  FEM

In [75]:
postulantes_joined.drop_duplicates(subset = ['idpostulante', 'nombre', 'estado', 'fechanacimiento', 'sexo'], keep = 'last',inplace = True)

In [77]:
len(postulantes_joined)

610394

In [78]:
postulantes_joined.isnull().any()

idpostulante       False
nombre              True
estado              True
fechanacimiento     True
sexo               False
dtype: bool

In [79]:
postulantes_joined.to_csv('../data/postulantes_joined.csv', index=False, sep=',', encoding='utf-8')

## Avisos unificados de todas las fechas

In [80]:
print(len(avisos_detalle))
avisos_detalle.head(1)

19632

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

In [81]:
print(len(avisos_detalle_desde_15_04))
avisos_detalle_desde_15_04.head(1)

14136

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1573840,1,VENDEDORA/O,Nuestra Búsqueda se orienta a la incorporación...,Capital Federal,Flores,NaN,Full-time,Otro,Ventas,RIBEIRO SUC. FLORES

In [82]:
avisos_detalle_joined = pd.concat([avisos_detalle, avisos_detalle_desde_15_04])

In [83]:
len(avisos_detalle_joined)

33768

In [84]:
avisos_detalle_joined.drop_duplicates(subset = ['idaviso', 'tituloa', 'descripcion', 'nombre_area'], keep = 'last',inplace = True)

In [85]:
len(avisos_detalle_joined)

25743

In [86]:
avisos_detalle_joined.isnull().any()

idaviso                 False
idpais                  False
titulo                  False
descripcion             False
nombre_zona             False
ciudad                   True
mapacalle                True
tipo_de_trabajo         False
nivel_laboral            True
nombre_area             False
denominacion_empresa     True
dtype: bool

In [87]:
avisos_detalle_joined.head(3)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [88]:
avisos_detalle_joined.to_csv('../data/avisos_detalle_joined.csv', index=False, sep=',', encoding='utf-8')

# Limpieza/transformacion de datos

### Aplicamos las transformaciones tanto al set para entrenar como al que se va a usar para testear

In [89]:
postulantes_joined = pd.read_csv('../data/postulantes_joined.csv', sep=',', encoding='utf-8')
vistas_train = pd.read_csv('../data/3_vistas_train.csv', sep=',', encoding='utf-8')
postulaciones_train = pd.read_csv('../data/4_postulaciones_train.csv', sep=',', encoding='utf-8')
avisos_online_train = pd.read_csv('../data/5_avisos_online_train.csv', sep=',', encoding='utf-8')
avisos_detalle_joined = pd.read_csv('../data/avisos_detalle_joined.csv', sep=',', encoding='utf-8')

In [90]:
postulantes_joined.rename(columns={'nombre':'nombre_estudio','estado':'estado_estudio'}, inplace=True)

In [91]:
postulantes_joined.head(1)

  idpostulante nombre_estudio estado_estudio fechanacimiento sexo
0         8BkL  Universitario       En Curso      1976-07-21  FEM

Obtenemos el maximo nivel de educacion para cada postulante

In [92]:
len(postulantes_joined)

610394

In [93]:
print('Existen datos de educacion de', len(postulantes_joined.drop_duplicates(['idpostulante'], keep='last', inplace=False)), 'postulantes')

Existen datos de educacion de 408146 postulantes

In [94]:
def cuantificar_estudios(row):
    if (row['nombre_estudio'] == 'Doctorado'):
        row['nombre_estudio'] = 7
    if (row['nombre_estudio'] == 'Master'):    
        row['nombre_estudio'] = 6
    if (row['nombre_estudio'] == 'Posgrado'):    
        row['nombre_estudio'] = 5
    if (row['nombre_estudio'] == 'Universitario'):    
        row['nombre_estudio'] = 4
    if (row['nombre_estudio'] == 'Terciario/Técnico'):    
        row['nombre_estudio'] = 3
    if (row['nombre_estudio'] == 'Secundario'):    
        row['nombre_estudio'] = 2
    if (row['nombre_estudio'] == 'Otro'):    
        row['nombre_estudio'] = 1    
        
    if (row['estado_estudio'] == 'Graduado'):
        row['estado_estudio'] = 3
    if (row['estado_estudio'] == 'En Curso'):    
        row['estado_estudio'] = 2
    if (row['estado_estudio'] == 'Abandonado'):    
        row['estado_estudio'] = 1
        
    return row    

def descuantificar_estudios(row):
    if (row['nombre_estudio'] == 7):
        row['nombre_estudio'] = 'Doctorado'
    if (row['nombre_estudio'] == 6):    
        row['nombre_estudio'] = 'Master'
    if (row['nombre_estudio'] == 5):    
        row['nombre_estudio'] = 'Posgrado'
    if (row['nombre_estudio'] == 4):    
        row['nombre_estudio'] = 'Universitario'
    if (row['nombre_estudio'] == 3):    
        row['nombre_estudio'] = 'Terciario/Técnico'
    if (row['nombre_estudio'] == 2):    
        row['nombre_estudio'] = 'Secundario'
    if (row['nombre_estudio'] == 1):    
        row['nombre_estudio'] = 'Otro'    
        
    if (row['estado_estudio'] == 3):
        row['estado_estudio'] = 'Graduado'
    if (row['estado_estudio'] == 2):    
        row['estado_estudio'] = 'En Curso'
    if (row['estado_estudio'] == 1):    
        row['estado_estudio'] = 'Abandonado'
        
    return row

In [96]:
postulantes_joined = postulantes_joined.apply(lambda row: cuantificar_estudios(row), axis=1)

In [97]:
# Obtenemos max de la columna nombre
idx = postulantes_joined.groupby(['idpostulante'])['nombre_estudio'].transform(max) == postulantes_joined['nombre_estudio']

In [98]:
# Sobre los anteriores, obtenemos los max de la columna estado
idx_postulantes_educacion_max = postulantes_joined[idx].groupby(['idpostulante'])['estado_estudio'].transform(max) == postulantes_joined[idx]['estado_estudio']

In [99]:
postulantes_joined = postulantes_joined[idx][idx_postulantes_educacion_max]

print(len(postulantes_educacion_train))

568612

In [175]:
# Para volver a strings: 
#postulantes_educacion_train = postulantes_educacion_train.apply(lambda row: descuantificar_estudios(row), axis=1)
#postulantes_educacion_desde_15_04 = postulantes_educacion_desde_15_04.apply(lambda row: descuantificar_estudios(row), axis=1)

In [100]:
postulantes_joined.head(2)

  idpostulante  nombre_estudio  estado_estudio fechanacimiento  sexo
1         1d2B             4.0             2.0      1976-02-28  MASC
3         Ym2X             4.0             3.0      1964-01-19  MASC

In [101]:
# Convierto columnas con fechas a datetime
postulantes_joined['fechanacimiento'] = pd.to_datetime(postulantes_joined.fechanacimiento, format='%Y/%m/%d', errors='coerce')
if(postulantes_joined.isna().any().any()):
    print(postulantes_joined.isna().any())
    postulantes_joined.dropna(inplace=True)

# Agrego columna edad
anio_actual = pd.to_datetime('today').year
postulantes_joined['edad'] = postulantes_joined.fechanacimiento.map(lambda fecha: anio_actual - fecha.year).astype(int)

idpostulante       False
nombre_estudio     False
estado_estudio     False
fechanacimiento     True
sexo               False
dtype: bool

In [102]:
postulantes_joined.drop(columns=['fechanacimiento'], inplace=True)

In [103]:
len(postulantes_joined)

358872

In [104]:
postulantes_joined.head(1)

  idpostulante  nombre_estudio  estado_estudio  sexo  edad
1         1d2B             4.0             2.0  MASC    42

In [130]:
postulantes_joined['edad'] = postulantes_joined['edad'].astype(int)
postulantes_joined['nombre_estudio'] = postulantes_joined['nombre_estudio'].astype(int)
postulantes_joined['estado_estudio'] = postulantes_joined['estado_estudio'].astype(int)

In [131]:
postulantes_joined.head(1)

  idpostulante  nombre_estudio  estado_estudio  sexo  edad
1         1d2B               4               2  MASC    42

In [107]:
len(avisos_detalle_joined)

25743

In [108]:
avisos_detalle_joined = avisos_detalle_joined.dropna(subset=['idaviso'], how='all')

In [110]:
avisos_detalle_joined.drop(columns=['idpais','ciudad','mapacalle', 'nombre_zona'], inplace=True)

In [111]:
avisos_detalle_joined.head(1)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,<p>Solicitamos para importante cadena de farma...,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

Eliminamos el html de la descripcion

In [112]:
def clean_html(row):
    clean_html_regex = re.compile('<.*?>')
    row['descripcion'] = re.sub(clean_html_regex, '', row['descripcion'])
    return row

avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: clean_html(row), axis=1)

In [113]:
avisos_detalle_joined.head(1)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,Solicitamos para importante cadena de farmacia...,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

In [114]:
avisos_detalle_joined['descripcion'].head(5)

0    Solicitamos para importante cadena de farmacia...
1    TE GUSTA MANEJAR? QUERES GANAR PLATA HACIENDO ...
2    OPERARIOS DE PLANTANos encontramos en la búsqu...
3    Agente\r\noficial Selecciona:\r\n \r\nNuestra ...
4    Centro Médico Accord se encuentra en la búsque...
Name: descripcion, dtype: object

Procesamos la descripcion: eliminamos diacriticos, stopwords

In [115]:
stopwords = ['a', 'al', 'ante', 'aquel', 'aires', 'bien', 'buenos', 'como', 'con', 'conseguir', 'cual', 'de', 'del', 'descripcion', 
             'desde', 'donde', 'e', 'el', 'ella', 'ello', 'en', 'es', 'esa', 'encima', 'entonces', 'entre', 'encontramos', 
             'encuentra', 'era', 'esta', 'estas' 'estan', 'etc', 'fe', 'fue', 'gusta', 'hs', 'ha', 'hacen', 'hacemos', 'hacer', 'hasta', 
             'incluso', 'ir', 'jamas', 'jamas', 'la', 'las', 'lo', 'los', 'mas', 'me', 'menos', 'mi', 'mis', 'misma', 'mismo', 'mucha', 'muchas', 
             'mucho', 'muchos', 'muy', 'ni', 'no', 'nos', 'nosotros', 'nuestras', 'nuestra', 'nuestro', 'nuestros', 'o', 'para', 'por', 'puesta', 
             'que', 'qué', 'sabe', 'santa', 'saber', 'se', 'solicitamos', 'selecciona', 'segun', 'ser', 'serán', 'seran', 'si', 'siendo', 'sin', 
             'sobre', 'solo', 'solicita', 'somos', 'su', 'sus', 'te', 'trabajar', 'tiene', 'tus', 'tu', 'uso', 
             'un', 'una', 'ubicada', 'valoramos', 'vaya', 'y']

invalid_characters = [',', ':', '.', ';', '?', '¿', '!', '¡', '(', ')', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 
                      '<', '>', '-', '_', '/', '*', '\r', '\n', '', '·', '§', 'ª', '+']

def clean_html(string):
    clean_html_regex = re.compile('<.*?>')
    string = re.sub(clean_html_regex, ' ', string).strip()
    return string

def clean_string(row, col):     
    for invalid_char in invalid_characters:
        row[col] = row[col].replace(invalid_char, ' ').strip()
        row[col] = row[col].strip().lower()
    
    row[col] = row[col].replace('á', "a")
    row[col] = row[col].replace('é', "e")
    row[col] = row[col].replace('í', "i")
    row[col] = row[col].replace('ó', "o")
    row[col] = row[col].replace('ú', "u")
    row[col] = row[col].replace('ü', "u")
    
    words = row[col].split()
    
    # Se filtran las stop words
    valid_words = []
    for word in words:
        for w in stopwords:
            if (word == w):
                word = word.replace(w, ' ')
        if (word.strip() != ''):
            valid_words.append(word)
        
    row[col] = valid_words
    return row

In [116]:
avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: clean_string(row, 'descripcion'), axis=1)

In [117]:
avisos_detalle_joined['descripcion'].head(3)

0    [importante, cadena, farmacias, zona, oeste, e...
1    [manejar, queres, ganar, plata, haciendo, cont...
2    [operarios, plantanos, busqueda, operarios, em...
Name: descripcion, dtype: object

Para cada aviso reemplazamos la columna descripcion por una lista: (palabra, #apariciones)

In [118]:
def process_words(row, columna):
    lista_palabras_frecuentes_descripcion = []
    words = row[columna]
    for word in words:
        lista_palabras_frecuentes_descripcion.append(word)
    row[columna] = Counter(lista_palabras_frecuentes_descripcion).most_common(25)
    
    return row

avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: process_words(row, 'descripcion'), axis=1)

In [119]:
avisos_detalle_joined.head(3)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,"[(oeste, 2), (experiencia, 2), (años, 2), (imp...",Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
1,1000150677,Chofer de taxi,"[(tenes, 3), (estas, 2), (trabajo, 2), (años, ...",Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
2,1000872556,Operarios de Planta - Rubro Electrodomésticos,"[(control, 6), (produccion, 4), (operarios, 2)...",Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

Lo mismo pero con el titulo

In [120]:
avisos_detalle_joined = avisos_detalle_joined.apply(lambda row: clean_string(row, 'titulo'), axis=1)

In [122]:
avisos_detalle_joined.head(3)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,"[(enfermeras, 1)]","[(oeste, 2), (experiencia, 2), (años, 2), (imp...",Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
1,1000150677,"[(chofer, 1), (taxi, 1)]","[(tenes, 3), (estas, 2), (trabajo, 2), (años, ...",Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
2,1000872556,"[(operarios, 1), (planta, 1), (rubro, 1), (ele...","[(control, 6), (produccion, 4), (operarios, 2)...",Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

Elimino la columna denominacion_empresa

In [123]:
avisos_detalle_joined.drop(['denominacion_empresa'], axis=1, inplace=True)

In [124]:
avisos_detalle_joined['tipo_full'] = (avisos_detalle_joined['tipo_de_trabajo'].astype(str) == 'Full-time').astype(bool)
avisos_detalle_joined['tipo_part'] = (avisos_detalle_joined['tipo_de_trabajo'].astype(str) == 'Part-time').astype(bool)
avisos_detalle_joined['tipo_otro'] = ((avisos_detalle_joined['tipo_de_trabajo'].astype(str) != 'Part-time') & (avisos_detalle_joined['tipo_de_trabajo'].astype(str) != 'Full-time')).astype(bool)

In [125]:
avisos_detalle_joined.drop(['tipo_de_trabajo'], axis=1, inplace=True)

In [126]:
avisos_detalle_joined.head(5)

,idaviso,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,17903700,"[(enfermeras, 1)]","[(oeste, 2), (experiencia, 2), (años, 2), (imp...",Senior / Semi-Senior,Salud,True,False,False
1,1000150677,"[(chofer, 1), (taxi, 1)]","[(tenes, 3), (estas, 2), (trabajo, 2), (años, ...",Senior / Semi-Senior,Transporte,True,False,False
2,1000872556,"[(operarios, 1), (planta, 1), (rubro, 1), (ele...","[(control, 6), (produccion, 4), (operarios, 2)...",Senior / Semi-Senior,Producción,True,False,False
3,9240880,"[(productores, 1), (asesores, 1), (independien...","[(agente, 1), (oficial, 1), (busqueda, 1), (or...",Jefe / Supervisor / Responsable,Comercial,True,False,False
4,1110185164,"[(administrativo, 1), (recepcion, 1)]","[(medico, 2), (pacientes, 2), (atencion, 2), (...",Junior,Administración,True,False,False

In [127]:
vistas_train.rename(columns={'idAviso':'idaviso','timestamp':'fechavista'}, inplace=True)
vistas_desde_15_04.rename(columns={'idAviso':'idaviso','timestamp':'fechavista'}, inplace=True)

In [128]:
vistas_train.head(1)

      idaviso                    fechavista idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z

In [132]:
postulantes_joined.dtypes

idpostulante      object
nombre_estudio     int64
estado_estudio     int64
sexo              object
edad               int64
dtype: object

In [ ]:
avisos_detalle_joined.drop_duplicates(subset='idaviso', keep="last", inplace=True)

In [133]:
avisos_detalle_joined.dtypes

idaviso           int64
titulo           object
descripcion      object
nivel_laboral    object
nombre_area      object
tipo_full          bool
tipo_part          bool
tipo_otro          bool
dtype: object

Seguir transformando....

Exportamos a nuevos csv despues de transformar para evitar recalcular

In [134]:
postulantes_joined.to_csv('../data/postulantes_joined.csv', index=False, sep=',', encoding='utf-8')

In [135]:
avisos_detalle_joined.to_csv('../data/avisos_detalle_joined.csv', index=False, sep=',', encoding='utf-8')

In [136]:
vistas_train.to_csv('../data/3_vistas_train.csv', index=False, sep=',', encoding='utf-8')
vistas_desde_15_04.to_csv('../data/3_vistas_test.csv', index=False, sep=',', encoding='utf-8')

# Juntamos todo en un solo DF

La idea es partir de aca para probar algoritmos

In [29]:
postulantes_joined = pd.read_csv('../data/postulantes_joined.csv', encoding='utf-8')
vistas = pd.read_csv('../data/3_vistas_train.csv', encoding='utf-8')
postulaciones = pd.read_csv('../data/4_postulaciones_train.csv', encoding='utf-8')
avisos_online = pd.read_csv('../data/5_avisos_online_train.csv', encoding='utf-8')
avisos_detalle_joined = pd.read_csv('../data/avisos_detalle_joined.csv', encoding='utf-8')

In [43]:
vistas_test = pd.read_csv('../data/3_vistas_test.csv', encoding='utf-8')

## Set a predecir

In [2]:
data_predecir = pd.read_csv('../data/test_final_100k.csv', encoding='utf-8')

In [3]:
data_predecir.duplicated('id').any()

False

### Joineo al de entrenamiento con postulaciones (vistas por el momento no) y al de test con el pedido

In [5]:
print(len(postulaciones))

6604534

In [6]:
postulaciones.head(1)

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34

In [142]:
postulaciones_postulantes = pd.merge(postulaciones, postulantes_joined, on='idpostulante', how='left')

In [30]:
postulaciones_postulantes_test = pd.merge(data_predecir, postulantes_joined, on='idpostulante', how='left')

In [31]:
postulaciones_postulantes_test.duplicated('id').any()

False

In [144]:
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0

In [48]:
postulaciones_postulantes_test.head(1)

   id  idaviso idpostulante  nombre_estudio  estado_estudio sexo  edad
0   0   739260       6M9ZQR             7.0             3.0  FEM  42.0

In [146]:
print(len(postulaciones_postulantes))

6604534

In [148]:
postulaciones_postulantes.tail(3)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad
6604531,1112334806,5mPJNDG,2018-03-03 07:41:20,4.0,2.0,FEM,20.0
6604532,1112303592,zvabRzD,2018-03-01 10:30:35,2.0,3.0,MASC,42.0
6604533,1110591925,zvabRzD,2018-03-11 19:54:45,2.0,3.0,MASC,42.0

In [49]:
postulaciones_postulantes_test.head(1)

   id  idaviso idpostulante  nombre_estudio  estado_estudio sexo  edad
0   0   739260       6M9ZQR             7.0             3.0  FEM  42.0

In [9]:
postulaciones_postulantes_test.isnull().any()

id                False
idaviso           False
idpostulante      False
nombre_estudio     True
estado_estudio     True
sexo               True
edad               True
dtype: bool

In [151]:
postulaciones_postulantes.isnull().any()

idaviso             False
idpostulante        False
fechapostulacion    False
nombre_estudio       True
estado_estudio       True
sexo                 True
edad                 True
dtype: bool

In [152]:
postulaciones_postulantes.dropna(inplace=True)

In [153]:
postulaciones_postulantes.isnull().any()

idaviso             False
idpostulante        False
fechapostulacion    False
nombre_estudio      False
estado_estudio      False
sexo                False
edad                False
dtype: bool

In [154]:
len(postulaciones_postulantes)

6323316

In [155]:
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0

In [156]:
postulaciones_postulantes.dtypes

idaviso               int64
idpostulante         object
fechapostulacion     object
nombre_estudio      float64
estado_estudio      float64
sexo                 object
edad                float64
dtype: object

In [158]:
#postulaciones_postulantes_test.drop(columns=['id'], inplace=True)

In [51]:
postulaciones_postulantes_test.dtypes

id                  int64
idaviso             int64
idpostulante       object
nombre_estudio    float64
estado_estudio    float64
sexo               object
edad              float64
dtype: object

In [160]:
postulaciones_postulantes['idaviso'] = postulaciones_postulantes['idaviso'].astype(int)
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0

In [32]:
postulaciones_postulantes_test['idaviso'] = postulaciones_postulantes_test['idaviso'].astype(int)
postulaciones_postulantes_test.head(1)

   id  idaviso idpostulante  nombre_estudio  estado_estudio sexo  edad
0   0   739260       6M9ZQR             7.0             3.0  FEM  42.0

In [162]:
postulaciones_postulantes.to_csv('../data/postulaciones_postulantes.csv', index=False, sep=',', encoding='utf-8')

In [15]:
postulaciones_postulantes = pd.read_csv('../data/postulaciones_postulantes.csv', encoding='utf-8')

### Juntamos con los avisos

In [164]:
postulaciones_postulantes_avisos = pd.merge(postulaciones_postulantes, avisos_detalle_joined, on='idaviso', how='left')

In [165]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0,"[('representantes', 1), ('atencion', 1), ('cli...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,Atención al Cliente,False,True,False

In [33]:
postulaciones_postulantes_test.to_csv('../data/postulaciones_postulantes_test.csv', index=False, sep=',', encoding='utf-8')

In [44]:
postulaciones_postulantes_test = pd.read_csv('../data/postulaciones_postulantes_test.csv', encoding='utf-8')

In [45]:
len(postulaciones_postulantes_test)

100000

In [46]:
postulaciones_postulantes_test.duplicated('id').any()

False

In [47]:
avisos_detalle_joined.duplicated('idaviso').any()

True

In [48]:
avisos_detalle_joined.drop_duplicates(subset='idaviso', keep="last", inplace=True)

In [49]:
postulaciones_postulantes_avisos_test = pd.merge(postulaciones_postulantes_test, avisos_detalle_joined, on='idaviso', how='left')

In [50]:
len(postulaciones_postulantes_avisos_test)

100000

In [51]:
postulaciones_postulantes_test.duplicated('id').any()

False

In [52]:
postulaciones_postulantes_avisos_test.head(1)

,id,idaviso,idpostulante,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,0,739260,6M9ZQR,7.0,3.0,FEM,42.0,"[('asistente', 1), ('comercial', 1)]","[('p', 2), ('cliente', 1), ('empresa', 1), ('n...",Jefe / Supervisor / Responsable,Comercial,True,False,False

In [53]:
postulaciones_postulantes_avisos_test.isnull().any()

id                False
idaviso           False
idpostulante      False
nombre_estudio     True
estado_estudio     True
sexo               True
edad               True
titulo            False
descripcion       False
nivel_laboral      True
nombre_area       False
tipo_full         False
tipo_part         False
tipo_otro         False
dtype: bool

## Exportamos la estructura de los datos a predecir a un csv X_test

In [54]:
postulaciones_postulantes_avisos_test.to_csv('../data/X_test.csv', index=False, sep=',', encoding='utf-8')

## Agregamos la columna a predecir y generamos muestras aleatorias para los casos negativos

Hasta aca tenemos para el set de entrenamiento todos registros para los cuales la columna a predecir ('postulado') va a ser true. Vamos a generar una muestra random de registros para armar los 'postulado'==false

In [6]:
postulaciones_postulantes_avisos['postulado'] = True

In [7]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0,"[('representantes', 1), ('atencion', 1), ('cli...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,Atención al Cliente,False,True,False,True

In [173]:
postulaciones_postulantes_avisos.to_csv('../data/postulaciones_postulantes_avisos.csv', index=False, sep=',', encoding='utf-8')

In [8]:
postulaciones_postulantes_avisos = pd.read_csv('../data/postulaciones_postulantes_avisos.csv', encoding='utf-8')

In [9]:
print(len(postulaciones_postulantes_avisos))
postulaciones_postulantes_avisos.head(1)

6539133

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0,"[('representantes', 1), ('atencion', 1), ('cli...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,Atención al Cliente,False,True,False,True

### Generamos pares (idAviso, idPostulante) con postulado == False

In [10]:
postulantes_sample = postulantes_joined.sample(10000)
for i in range(1,650):
    postulantes_sample = pd.concat([postulantes_sample, postulantes_joined.sample(10000)])

In [11]:
print(len(postulantes_sample))

6500000

In [12]:
postulantes_sample.reset_index(inplace=True)
postulantes_sample.drop(columns = 'index', inplace = True)
postulantes_sample.head(1)

  idpostulante  nombre_estudio  estado_estudio sexo  edad
0      ek43a69               4               3  FEM    32

In [13]:
avisos_sample = avisos_detalle_joined.sample(10000)
for i in range(1,650):
    avisos_sample = pd.concat([avisos_sample, avisos_detalle_joined.sample(10000)])

In [14]:
print(len(avisos_sample))

6500000

In [15]:
avisos_sample.reset_index(inplace=True)
avisos_sample.drop(columns = 'index', inplace = True)
avisos_sample.head(1)

,idaviso,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,12543760,"[('diseñador', 1), ('grafico', 1)]","[('experiencia', 2), ('buscamos', 1), ('perfil...",Senior / Semi-Senior,Diseño Gráfico,True,False,False

In [16]:
no_postulados = postulantes_sample.join(avisos_sample)

In [17]:
no_postulados['postulado'] = False
no_postulados.head(1)

,idpostulante,nombre_estudio,estado_estudio,sexo,edad,idaviso,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,ek43a69,4,3,FEM,32,12543760,"[('diseñador', 1), ('grafico', 1)]","[('experiencia', 2), ('buscamos', 1), ('perfil...",Senior / Semi-Senior,Diseño Gráfico,True,False,False,False

In [18]:
no_postulados.to_csv('../data/no_postulados.csv', index=False, sep=',', encoding='utf-8')

In [17]:
no_postulados = pd.read_csv('../data/no_postulados.csv', encoding='utf-8')

In [19]:
print(len(no_postulados))
no_postulados.head(1)

6500000

,idpostulante,nombre_estudio,estado_estudio,sexo,edad,idaviso,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,ek43a69,4,3,FEM,32,12543760,"[('diseñador', 1), ('grafico', 1)]","[('experiencia', 2), ('buscamos', 1), ('perfil...",Senior / Semi-Senior,Diseño Gráfico,True,False,False,False

In [20]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0,"[('representantes', 1), ('atencion', 1), ('cli...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,Atención al Cliente,False,True,False,True

In [21]:
training = pd.concat([no_postulados, postulaciones_postulantes_avisos])

De los random que generamos forzamos a todos con postulado=False, lo cual puede ser incorrecto. En caso de que el par (idAviso, idPostulante) exista en el postulaciones_postulantes_avisos deberia prevalecer ese. Para lograr esto con ambos sets concatenados, eliminamos los repetidos considerando estas dos columnas y nos quedamos con la primera repeticion (la del primer dataset, que es el que tiene la informacion real)

In [22]:
training.drop_duplicates(subset = ['idaviso','idpostulante'], keep = 'first',inplace = True)

In [23]:
print(len(training))

12815883

In [24]:
training.sample(20)

,descripcion,edad,estado_estudio,fechapostulacion,idaviso,idpostulante,nivel_laboral,nombre_area,nombre_estudio,postulado,sexo,tipo_full,tipo_otro,tipo_part,titulo
1912135,"[('adecco', 4), ('seguros', 4), ('banca', 3), ...",30.0,2.0,2018-04-13 15:08:41,1112464014,VNPW4Wj,Senior / Semi-Senior,Ventas,3.0,True,FEM,True,False,False,"[('vendedor', 1), ('servicios', 1), ('financie..."
2410667,"[('sql', 2), ('sector', 1), ('it', 1), ('siste...",25.0,2.0,NaN,1112203483,dYJeJAA,Senior / Semi-Senior,Tecnologia / Sistemas,4.0,False,FEM,True,False,False,"[('desarrollador', 1), ('sql', 1), ('capital',..."
115169,"[('tareas', 3), ('objetivos', 3), ('repuestos'...",46.0,1.0,NaN,1112109848,YR5YNP,Senior / Semi-Senior,Comercial,4.0,False,FEM,True,False,False,"[('supervisor', 1), ('repuestos', 1), ('tucuma..."
4416092,"[('capacidad', 3), ('compañia', 2), ('mercado'...",30.0,3.0,NaN,1111726673,ak4WvxN,Junior,Jóvenes Profesionales,2.0,False,FEM,True,False,False,"[('analista', 1), ('econometrico', 1), ('junio..."
4114318,"[('adecco', 4), ('hotel', 3), ('argentina', 2)...",21.0,3.0,2018-01-27 13:55:35,1111469336,LNMp9lB,Junior,Servicios,2.0,True,MASC,True,False,False,"[('bachero', 1), ('steward', 1), ('eventos', 1..."
4710552,NaN,21.0,3.0,2018-02-16 13:18:16,1112342368,YjAvzdX,NaN,NaN,4.0,True,FEM,NaN,NaN,NaN,NaN
917270,NaN,39.0,3.0,2018-01-30 18:24:23,1112263349,bO46Xb9,NaN,NaN,2.0,True,FEM,NaN,NaN,NaN,NaN
3675665,"[('conocimiento', 4), ('tareas', 3), ('analisi...",28.0,2.0,2018-02-20 17:11:10,1112349077,NppeO4,Senior / Semi-Senior,Otros,4.0,True,MASC,True,False,False,"[('analista', 1), ('compras', 1)]"
3555305,"[('seleccionaremos', 1), ('importante', 1), ('...",21.0,3.0,2018-03-29 09:21:20,1112094756,5mq33xp,Senior / Semi-Senior,Call Center,2.0,True,MASC,False,False,True,"[('representante', 1), ('atencion', 1), ('clie..."
3290016,"[('financiera', 3), ('proteccion', 3), ('objet...",29.0,2.0,NaN,1112433301,88rKkD,Senior / Semi-Senior,Consultoria,3.0,False,FEM,True,False,False,"[('financiero', 2), ('asesor', 1), ('comercial..."
3152084,"[('nomina', 4), ('trabajo', 4), ('experiencia'...",22.0,3.0,NaN,1112420485,ZDlmLw1,Senior / Semi-Senior,Compensación y Planilla,2.0,False,FEM,True,False,False,"[('analista', 1), ('funcional', 1), ('nomina',..."
4625684,"[('mantenimiento', 2), ('conocimientos', 2), (...",23.0,1.0,2018-03-26 13:41:53,1112418048,X9kp6OP,Otro,Producción,2.0,True,MASC,False,False,True,"[('operario', 1), ('media', 1), ('jornada', 1)..."
4725171,"[('trabajo', 5), ('gestion', 4), ('pagos', 3),...",45.0,1.0,NaN,1112455132,E8YNDN,Senior / Semi-Senior,Administración,4.0,False,FEM,True,False,False,"[('analista', 1), ('pagos', 1), ('gestion', 1)..."
5327223,"[('busqueda', 2), ('cocina', 2), ('zona', 2), ...",23.0,3.0,2018-02-11 19:19:53,1112303736,ZDrVlDb,Junior,Gastronomia,2.0,True,MASC,True,False,False,"[('peon', 1), ('cocina', 1), ('\x96', 1), ('zo..."
4068494,"[('comercial', 2), ('importante', 1), ('indust...",28.0,2.0,2018-02-12 12:22:14,1112314232,QNMN4Vz,Junior,Administración,4.0,True,MASC,True,False,False,"[('analista', 1), ('comercial', 1), ('back', 1..."
6324083,"[('importante', 1), ('industria', 1), ('munro'...",25.0,2.0,NaN,1112460142,Nzr3QDD,Senior / Semi-Senior,Administración,3.0,False,MASC,True,False,False,"[('administrativa', 1), ('recepcionista', 1), ..."
128315,"[('crecimiento', 2), ('ventas', 2), ('empresa'...",22.0,3.0,2018-01-31 19:27:43,1001135716,xkd9jJV,Senior / Semi-Senior,Ventas,2.0,True,MASC,True,False,False,"[('vendedor', 1), ('viajante', 1), ('tucuman',..."
18945,"[('liquidacion', 2), ('tareas', 2), ('estudio'...",29.0,3.0,NaN,1112481328,mzdM3NE,Senior / Semi-Senior,Contabilidad,4.0,False,FEM,True,False,False,"[('liquidador', 1), ('impuestos', 1), ('p', 1)..."
4256440,"[('tareas', 3), ('experiencia', 3), ('trabajo'...",31.0,2.0,NaN,1112452166,YqZmaD,Senior / Semi-Senior,Administración,4.0,False,FEM,True,False,False,"[('empleado', 1), ('administrativo', 1)]"
499347,"[('deberan', 3), ('general', 2), ('rodriguez',...",28.0,3.0,NaN,1112432635,PmGVN11,Senior / Semi-Senior,Producción,2.0,False,NO_DECLARA,True,False,False,"[('soldadores', 1), ('p', 1), ('obras', 1), ('..."

In [26]:
print(len(training[training['postulado'] == True]))
print(len(training[training['postulado'] == False]))

6318221
6497662

In [27]:
training.head(1)

,descripcion,edad,estado_estudio,fechapostulacion,idaviso,idpostulante,nivel_laboral,nombre_area,nombre_estudio,postulado,sexo,tipo_full,tipo_otro,tipo_part,titulo
0,"[('experiencia', 2), ('buscamos', 1), ('perfil...",32.0,3.0,NaN,12543760,ek43a69,Senior / Semi-Senior,Diseño Gráfico,4.0,False,FEM,True,False,False,"[('diseñador', 1), ('grafico', 1)]"

In [30]:
training['nombre_estudio'] = training['nombre_estudio'].astype(int)
training['estado_estudio'] = training['estado_estudio'].astype(int)
training['edad'] = training['edad'].astype(int)
training.drop(columns=['fechapostulacion'], inplace=True)

In [33]:
training['tipo_full'] = training['tipo_full'].astype(bool)
training['tipo_otro'] = training['tipo_otro'].astype(bool)
training['tipo_part'] = training['tipo_part'].astype(bool)

In [34]:
training.dtypes

descripcion       object
edad               int64
estado_estudio     int64
idaviso            int64
idpostulante      object
nivel_laboral     object
nombre_area       object
nombre_estudio     int64
postulado           bool
sexo              object
tipo_full           bool
tipo_otro           bool
tipo_part           bool
titulo            object
dtype: object

In [35]:
training.head(1)

,descripcion,edad,estado_estudio,idaviso,idpostulante,nivel_laboral,nombre_area,nombre_estudio,postulado,sexo,tipo_full,tipo_otro,tipo_part,titulo
0,"[('experiencia', 2), ('buscamos', 1), ('perfil...",32,3,12543760,ek43a69,Senior / Semi-Senior,Diseño Gráfico,4,False,FEM,True,False,False,"[('diseñador', 1), ('grafico', 1)]"

In [38]:
postulaciones_postulantes_avisos_test = pd.read_csv('../data/X_test.csv', sep=',', encoding='utf-8')

In [ ]:
target = training[['postulado']]
training.drop('postulado', axis=1, inplace=True)

In [58]:
print('train shape:',training.shape,'| target shape:',target.shape)
print('test shape:',postulaciones_postulantes_avisos_test.shape)

train shape: (12815883, 13) | target shape: (12815883, 1)
test shape: (104530, 14)

El de test tiene una columna mas por el id que identifica al par (idaviso, idpostulante)

In [41]:
training.to_csv('../data/X_train.csv', index=False, sep=',', encoding='utf-8')
target.to_csv('../data/target.csv', index=False, sep=',', encoding='utf-8')