In [1]:
import numpy as np 
import pandas as pd
import datetime
import calendar
import matplotlib.pyplot as plt
import seaborn as sns
import re # regex
from scipy.misc import imread
#from wordcloud import WordCloud, STOPWORDS # Wordcloud: pip install wordcloud
from collections import Counter

%matplotlib inline
pd.set_option('display.max_columns', None)

# Sets para entrenar

## Datos del TP 1

In [147]:
postulantes_educacion_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_3_vistas.csv', encoding='utf-8')
postulaciones_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_4_postulaciones.csv', encoding='utf-8')
avisos_online_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_5_avisos_online.csv', encoding='utf-8')
avisos_detalle_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv', encoding='utf-8')

## Datos hasta 15 abril

In [148]:
postulantes_educacion_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_3_vistas.csv', encoding='utf-8')
postulaciones_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_4_postulaciones.csv', encoding='utf-8')
avisos_online_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_5_avisos_online.csv', encoding='utf-8')
avisos_detalle_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_6_avisos_detalle.csv', encoding='utf-8')

# Sets para testear

## Datos desde 15 abril

In [149]:
postulantes_educacion_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_3_vistas.csv', encoding='utf-8')
avisos_detalle_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_6_avisos_detalle.csv', encoding='utf-8')

## 338 faltantes

In [150]:
# Estos registros solo aparecen en el set a predecir
avisos_detalle_338_faltantes = pd.read_csv('../data/datos_navent_fiuba/338_faltantes/fiuba_6_avisos_detalle_missing_nivel_laboral.csv', encoding='utf-8')

### Juntamos los 338 registros que faltan con el set a predecir

In [151]:
avisos_detalle_desde_15_04 = pd.concat([avisos_detalle_desde_15_04, avisos_detalle_338_faltantes])

In [152]:
print(len(avisos_detalle_desde_15_04))

14136

## Unificamos los datos del TP 1 con los de hasta el 15 de abril

### postulantes_educacion

In [153]:
print('Longitud original: ', len(postulantes_educacion_orig))
print('Longitud nuevo set: ', len(postulantes_educacion_hasta_15_04))
postulantes_educacion_train = pd.concat([postulantes_educacion_orig, postulantes_educacion_hasta_15_04])
print('Longitud concat: ', len(postulantes_educacion_train))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
postulantes_educacion_train.drop_duplicates(['idpostulante', 'nombre', 'estado'], keep='last', inplace=True)
print('Longitud unique: ', len(postulantes_educacion_train))

Longitud original:  298231
Longitud nuevo set:  407453
Longitud concat:  705684
Longitud unique:  568612

In [154]:
postulantes_educacion_train.to_csv('../data/1_postulantes_educacion_train.csv', index=False, sep=',', encoding='utf-8')

### postulantes_genero_edad

In [155]:
print('Longitud original: ', len(postulantes_genero_edad_orig))
print('Longitud nuevo set: ', len(postulantes_genero_edad_hasta_15_04))
postulantes_genero_edad_train = pd.concat([postulantes_genero_edad_orig, postulantes_genero_edad_hasta_15_04])
print('Longitud concat: ', len(postulantes_genero_edad_train))

# Eliminamos los duplicados. En este caso se considera duplicado si el idpostulante matchea
postulantes_genero_edad_train.drop_duplicates(['idpostulante'], keep='last', inplace=True)
print('Longitud unique: ', len(postulantes_genero_edad_train))

Longitud original:  200888
Longitud nuevo set:  297747
Longitud concat:  498635
Longitud unique:  408146

In [156]:
postulantes_genero_edad_train.to_csv('../data/2_postulantes_genero_edad_train.csv', index=False, sep=',', encoding='utf-8')

### vistas

In [157]:
print('Longitud original: ', len(vistas_orig))
print('Longitud nuevo set: ', len(vistas_hasta_15_04))
vistas_train = pd.concat([vistas_orig, vistas_hasta_15_04])
print('Longitud concat: ', len(vistas_train))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
vistas_train.drop_duplicates(['idaviso', 'timestamp', 'idpostulante'], keep='last', inplace=True)
print('Longitud unique: ', len(vistas_train))

Longitud original:  961897
Longitud nuevo set:  5758686
Longitud concat:  6720583
Longitud unique:  6682591

In [158]:
vistas_train.to_csv('../data/3_vistas_train.csv', index=False, sep=',', encoding='utf-8')

### postulaciones

In [159]:
print('Longitud original: ', len(postulaciones_orig))
print('Longitud nuevo set: ', len(postulaciones_hasta_15_04))
postulaciones_train = pd.concat([postulaciones_orig, postulaciones_hasta_15_04])
print('Longitud concat: ', len(postulaciones_train))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
postulaciones_train.drop_duplicates(['idaviso', 'idpostulante', 'fechapostulacion'], keep='last', inplace=True)
print('Longitud unique: ', len(postulaciones_train))

Longitud original:  3401623
Longitud nuevo set:  4909641
Longitud concat:  8311264
Longitud unique:  6604534

In [160]:
postulaciones_train.to_csv('../data/4_postulaciones_train.csv', index=False, sep=',', encoding='utf-8')

### avisos_online

In [161]:
print('Longitud original: ', len(avisos_online_orig))
print('Longitud nuevo set: ', len(avisos_online_hasta_15_04))
avisos_online_train = pd.concat([avisos_online_orig, avisos_online_hasta_15_04])
print('Longitud concat: ', len(avisos_online_train))

# Eliminamos los duplicados. En este caso se considera duplicado si esta columna matchea
avisos_online_train.drop_duplicates(['idaviso'], keep='last', inplace=True)
print('Longitud unique: ', len(avisos_online_train))

Longitud original:  5028
Longitud nuevo set:  4858
Longitud concat:  9886
Longitud unique:  9430

In [162]:
avisos_online_train.to_csv('../data/5_avisos_online_train.csv', index=False, sep=',', encoding='utf-8')

### avisos_detalle

In [163]:
print('Longitud original: ', len(avisos_detalle_orig))
print('Longitud nuevo set: ', len(avisos_detalle_hasta_15_04))
avisos_detalle_train = pd.concat([avisos_detalle_orig, avisos_detalle_hasta_15_04])
print('Longitud concat: ', len(avisos_detalle_train))

# Eliminamos los duplicados. En este caso se considera duplicado si matchean estas columnas (por no matchear todas)
avisos_detalle_train.drop_duplicates(['idaviso', 'titulo', 'descripcion', 'nombre_zona', 'ciudad', 'tipo_de_trabajo', 'nivel_laboral'], keep='last', inplace=True)
print('Longitud unique: ', len(avisos_detalle_train))

Longitud original:  13534
Longitud nuevo set:  18299
Longitud concat:  31833
Longitud unique:  19632

In [164]:
avisos_detalle_train.to_csv('../data/6_avisos_detalle_train.csv', index=False, sep=',', encoding='utf-8')

# Limpieza/transformacion de datos

### Aplicamos las transformaciones tanto al set para entrenar como al que se va a usar para testear

In [165]:
postulantes_educacion_train = pd.read_csv('../data/1_postulantes_educacion_train.csv', sep=',', encoding='utf-8')
postulantes_genero_edad_train = pd.read_csv('../data/2_postulantes_genero_edad_train.csv', sep=',', encoding='utf-8')
vistas_train = pd.read_csv('../data/3_vistas_train.csv', sep=',', encoding='utf-8')
postulaciones_train = pd.read_csv('../data/4_postulaciones_train.csv', sep=',', encoding='utf-8')
avisos_online_train = pd.read_csv('../data/5_avisos_online_train.csv', sep=',', encoding='utf-8')
avisos_detalle_train = pd.read_csv('../data/6_avisos_detalle_train.csv', sep=',', encoding='utf-8')

# TEST
'''
postulantes_educacion_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_1_postulantes_educacion.csv', encoding='utf-8')
postulantes_genero_edad_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')
vistas_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_3_vistas.csv', encoding='utf-8')
avisos_detalle_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_6_avisos_detalle.csv', encoding='utf-8')
'''

"\npostulantes_educacion_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_1_postulantes_educacion.csv', encoding='utf-8')\npostulantes_genero_edad_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_2_postulantes_genero_y_edad.csv', encoding='utf-8')\nvistas_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_3_vistas.csv', encoding='utf-8')\navisos_detalle_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_6_avisos_detalle.csv', encoding='utf-8')\n"

In [166]:
postulantes_educacion_train.rename(columns={'nombre':'nombre_estudio','estado':'estado_estudio'}, inplace=True)
postulantes_educacion_desde_15_04.rename(columns={'nombre':'nombre_estudio','estado':'estado_estudio'}, inplace=True)

In [167]:
postulantes_educacion_train.head(1)

  idpostulante nombre_estudio estado_estudio
0         8BkL  Universitario       En Curso

Obtenemos el maximo nivel de educacion para cada postulante

In [168]:
len(postulantes_educacion_train)

568612

In [169]:
print('Existen datos de educacion de', len(postulantes_educacion_train.drop_duplicates(['idpostulante'], keep='last', inplace=False)), 'postulantes')

Existen datos de educacion de 366395 postulantes

In [170]:
def cuantificar_estudios(row):
    if (row['nombre_estudio'] == 'Doctorado'):
        row['nombre_estudio'] = 7
    if (row['nombre_estudio'] == 'Master'):    
        row['nombre_estudio'] = 6
    if (row['nombre_estudio'] == 'Posgrado'):    
        row['nombre_estudio'] = 5
    if (row['nombre_estudio'] == 'Universitario'):    
        row['nombre_estudio'] = 4
    if (row['nombre_estudio'] == 'Terciario/Técnico'):    
        row['nombre_estudio'] = 3
    if (row['nombre_estudio'] == 'Secundario'):    
        row['nombre_estudio'] = 2
    if (row['nombre_estudio'] == 'Otro'):    
        row['nombre_estudio'] = 1    
        
    if (row['estado_estudio'] == 'Graduado'):
        row['estado_estudio'] = 3
    if (row['estado_estudio'] == 'En Curso'):    
        row['estado_estudio'] = 2
    if (row['estado_estudio'] == 'Abandonado'):    
        row['estado_estudio'] = 1
        
    return row    

def descuantificar_estudios(row):
    if (row['nombre_estudio'] == 7):
        row['nombre_estudio'] = 'Doctorado'
    if (row['nombre_estudio'] == 6):    
        row['nombre_estudio'] = 'Master'
    if (row['nombre_estudio'] == 5):    
        row['nombre_estudio'] = 'Posgrado'
    if (row['nombre_estudio'] == 4):    
        row['nombre_estudio'] = 'Universitario'
    if (row['nombre_estudio'] == 3):    
        row['nombre_estudio'] = 'Terciario/Técnico'
    if (row['nombre_estudio'] == 2):    
        row['nombre_estudio'] = 'Secundario'
    if (row['nombre_estudio'] == 1):    
        row['nombre_estudio'] = 'Otro'    
        
    if (row['estado_estudio'] == 3):
        row['estado_estudio'] = 'Graduado'
    if (row['estado_estudio'] == 2):    
        row['estado_estudio'] = 'En Curso'
    if (row['estado_estudio'] == 1):    
        row['estado_estudio'] = 'Abandonado'
        
    return row

In [171]:
postulantes_educacion_train = postulantes_educacion_train.apply(lambda row: cuantificar_estudios(row), axis=1)
postulantes_educacion_desde_15_04 = postulantes_educacion_desde_15_04.apply(lambda row: cuantificar_estudios(row), axis=1)

In [172]:
# Obtenemos max de la columna nombre
idx = postulantes_educacion_train.groupby(['idpostulante'])['nombre_estudio'].transform(max) == postulantes_educacion_train['nombre_estudio']
idxTest = postulantes_educacion_desde_15_04.groupby(['idpostulante'])['nombre_estudio'].transform(max) == postulantes_educacion_desde_15_04['nombre_estudio']

In [173]:
# Sobre los anteriores, obtenemos los max de la columna estado
idx_postulantes_educacion_max = postulantes_educacion_train[idx].groupby(['idpostulante'])['estado_estudio'].transform(max) == postulantes_educacion_train[idx]['estado_estudio']
idx_postulantes_educacion_max_test = postulantes_educacion_desde_15_04[idxTest].groupby(['idpostulante'])['estado_estudio'].transform(max) == postulantes_educacion_desde_15_04[idxTest]['estado_estudio']

In [174]:
postulantes_educacion_train = postulantes_educacion_train[idx][idx_postulantes_educacion_max]
postulantes_educacion_desde_15_04 = postulantes_educacion_desde_15_04[idxTest][idx_postulantes_educacion_max_test]

print(len(postulantes_educacion_train))
print(len(postulantes_educacion_desde_15_04))

366395
253688

In [175]:
# Para volver a strings: 
#postulantes_educacion_train = postulantes_educacion_train.apply(lambda row: descuantificar_estudios(row), axis=1)
#postulantes_educacion_desde_15_04 = postulantes_educacion_desde_15_04.apply(lambda row: descuantificar_estudios(row), axis=1)

In [176]:
postulantes_genero_edad_train.head(2)

  idpostulante fechanacimiento sexo
0         NM5M      1970-12-03  FEM
1         5awk      1962-12-04  FEM

In [177]:
postulantes_genero_edad_desde_15_04.head(2)

  idpostulante fechanacimiento        sexo
0          6MM      1985-01-01        MASC
1          ZX1             NaN  NO_DECLARA

In [178]:
# Convierto columnas con fechas a datetime
postulantes_genero_edad_train['fechanacimiento'] = pd.to_datetime(postulantes_genero_edad_train.fechanacimiento, format='%Y/%m/%d', errors='coerce')
if(postulantes_genero_edad_train.isna().any().any()):
    print(postulantes_genero_edad_train.isna().any())
    postulantes_genero_edad_train.dropna(inplace=True)

# Agrego columna edad
anio_actual = pd.to_datetime('today').year
postulantes_genero_edad_train['edad'] = postulantes_genero_edad_train.fechanacimiento.map(lambda fecha: anio_actual - fecha.year).astype(int)


# Convierto columnas con fechas a datetime
postulantes_genero_edad_desde_15_04['fechanacimiento'] = pd.to_datetime(postulantes_genero_edad_desde_15_04.fechanacimiento, format='%Y/%m/%d', errors='coerce')
if(postulantes_genero_edad_desde_15_04.isna().any().any()):
    print(postulantes_genero_edad_desde_15_04.isna().any())
    postulantes_genero_edad_desde_15_04.dropna(inplace=True)

# Agrego columna edad
anio_actual = pd.to_datetime('today').year
postulantes_genero_edad_desde_15_04['edad'] = postulantes_genero_edad_desde_15_04.fechanacimiento.map(lambda fecha: anio_actual - fecha.year).astype(int)

idpostulante       False
fechanacimiento     True
sexo               False
dtype: bool
idpostulante       False
fechanacimiento     True
sexo               False
dtype: bool

In [179]:
postulantes_genero_edad_train.drop(columns=['fechanacimiento'], inplace=True)
postulantes_genero_edad_desde_15_04.drop(columns=['fechanacimiento'], inplace=True)

In [180]:
len(postulantes_genero_edad_train)

388635

In [181]:
postulantes_genero_edad_train.head(1)

  idpostulante sexo  edad
0         NM5M  FEM    48

In [182]:
postulantes_genero_edad_desde_15_04.head(1)

  idpostulante  sexo  edad
0          6MM  MASC    33

In [183]:
postulantes_genero_edad_train = postulantes_genero_edad_train[(postulantes_genero_edad_train['edad'] > 16) & (postulantes_genero_edad_train['edad'] < 86)]
postulantes_genero_edad_desde_15_04 = postulantes_genero_edad_desde_15_04[(postulantes_genero_edad_desde_15_04['edad'] > 16) & (postulantes_genero_edad_desde_15_04['edad'] < 86)]

In [184]:
postulantes_genero_edad_desde_15_04.head(1)

  idpostulante  sexo  edad
0          6MM  MASC    33

In [185]:
postulantes_genero_edad_train['edad'] = postulantes_genero_edad_train['edad'].astype(int)
postulantes_genero_edad_desde_15_04['edad'] = postulantes_genero_edad_desde_15_04['edad'].astype(int)

In [186]:
vistas_train.rename(columns={'idAviso':'idaviso','timestamp':'fechavista'}, inplace=True)
vistas_desde_15_04.rename(columns={'idAviso':'idaviso','timestamp':'fechavista'}, inplace=True)

In [187]:
vistas_train.head(1)

      idaviso                    fechavista idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z

In [188]:
avisos_detalle_train = avisos_detalle_train.dropna(subset=['idaviso'], how='all')
avisos_detalle_desde_15_04 = avisos_detalle_desde_15_04.dropna(subset=['idaviso'], how='all')

In [189]:
avisos_detalle_train.drop(columns=['idpais','ciudad','mapacalle', 'nombre_zona'], inplace=True)
avisos_detalle_desde_15_04.drop(columns=['idpais','ciudad','mapacalle', 'nombre_zona'], inplace=True)

In [190]:
avisos_detalle_train.head(1)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,<p>Solicitamos para importante cadena de farma...,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

Eliminamos el html de la descripcion

In [191]:
def clean_html(row):
    clean_html_regex = re.compile('<.*?>')
    row['descripcion'] = re.sub(clean_html_regex, '', row['descripcion'])
    return row

avisos_detalle_train = avisos_detalle_train.apply(lambda row: clean_html(row), axis=1)
avisos_detalle_desde_15_04 = avisos_detalle_desde_15_04.apply(lambda row: clean_html(row), axis=1)

In [192]:
avisos_detalle_train.head(1)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,Solicitamos para importante cadena de farmacia...,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste

In [193]:
avisos_detalle_train['descripcion'].head(5)

0    Solicitamos para importante cadena de farmacia...
1    TE GUSTA MANEJAR? QUERES GANAR PLATA HACIENDO ...
2    OPERARIOS DE PLANTANos encontramos en la búsqu...
3    Agente\r\noficial Selecciona:\r\n \r\nNuestra ...
4    Somos una empresa multinacional que opera en A...
Name: descripcion, dtype: object

Procesamos la descripcion: eliminamos diacriticos, stopwords

In [194]:
stopwords = ['a', 'al', 'ante', 'aquel', 'aires', 'bien', 'buenos', 'como', 'con', 'conseguir', 'cual', 'de', 'del', 'descripcion', 
             'desde', 'donde', 'e', 'el', 'ella', 'ello', 'en', 'es', 'esa', 'encima', 'entonces', 'entre', 'encontramos', 
             'encuentra', 'era', 'esta', 'estas' 'estan', 'etc', 'fe', 'fue', 'gusta', 'hs', 'ha', 'hacen', 'hacemos', 'hacer', 'hasta', 
             'incluso', 'ir', 'jamas', 'jamas', 'la', 'las', 'lo', 'los', 'mas', 'me', 'menos', 'mi', 'mis', 'misma', 'mismo', 'mucha', 'muchas', 
             'mucho', 'muchos', 'muy', 'ni', 'no', 'nos', 'nosotros', 'nuestras', 'nuestra', 'nuestro', 'nuestros', 'o', 'para', 'por', 'puesta', 
             'que', 'qué', 'sabe', 'santa', 'saber', 'se', 'solicitamos', 'selecciona', 'segun', 'ser', 'serán', 'seran', 'si', 'siendo', 'sin', 
             'sobre', 'solo', 'solicita', 'somos', 'su', 'sus', 'te', 'trabajar', 'tiene', 'tus', 'tu', 'uso', 
             'un', 'una', 'ubicada', 'valoramos', 'vaya', 'y']

invalid_characters = [',', ':', '.', ';', '?', '¿', '!', '¡', '(', ')', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 
                      '<', '>', '-', '_', '/', '*', '\r', '\n', '', '·', '§', 'ª', '+']

def clean_html(string):
    clean_html_regex = re.compile('<.*?>')
    string = re.sub(clean_html_regex, ' ', string).strip()
    return string

def clean_string(row, col):     
    for invalid_char in invalid_characters:
        row[col] = row[col].replace(invalid_char, ' ').strip()
        row[col] = row[col].strip().lower()
    
    row[col] = row[col].replace('á', "a")
    row[col] = row[col].replace('é', "e")
    row[col] = row[col].replace('í', "i")
    row[col] = row[col].replace('ó', "o")
    row[col] = row[col].replace('ú', "u")
    row[col] = row[col].replace('ü', "u")
    
    words = row[col].split()
    
    # Se filtran las stop words
    valid_words = []
    for word in words:
        for w in stopwords:
            if (word == w):
                word = word.replace(w, ' ')
        if (word.strip() != ''):
            valid_words.append(word)
        
    row[col] = valid_words
    return row

In [195]:
avisos_detalle_train = avisos_detalle_train.apply(lambda row: clean_string(row, 'descripcion'), axis=1)
avisos_detalle_desde_15_04 = avisos_detalle_desde_15_04.apply(lambda row: clean_string(row, 'descripcion'), axis=1)

In [196]:
avisos_detalle_train['descripcion'].head(3)

0    [importante, cadena, farmacias, zona, oeste, e...
1    [manejar, queres, ganar, plata, haciendo, cont...
2    [operarios, plantanos, busqueda, operarios, em...
Name: descripcion, dtype: object

Para cada aviso reemplazamos la columna descripcion por una lista: (palabra, #apariciones)

In [197]:
def process_words(row, columna):
    lista_palabras_frecuentes_descripcion = []
    words = row[columna]
    for word in words:
        lista_palabras_frecuentes_descripcion.append(word)
    row[columna] = Counter(lista_palabras_frecuentes_descripcion).most_common(25)
    
    return row

avisos_detalle_train = avisos_detalle_train.apply(lambda row: process_words(row, 'descripcion'), axis=1)
avisos_detalle_desde_15_04 = avisos_detalle_desde_15_04.apply(lambda row: process_words(row, 'descripcion'), axis=1)

In [198]:
avisos_detalle_train.head(3)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,Enfermeras,"[(oeste, 2), (experiencia, 2), (años, 2), (imp...",Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
1,1000150677,Chofer de taxi,"[(tenes, 3), (estas, 2), (trabajo, 2), (años, ...",Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
2,1000872556,Operarios de Planta - Rubro Electrodomésticos,"[(control, 6), (produccion, 4), (operarios, 2)...",Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

Lo mismo pero con el titulo

In [199]:
avisos_detalle_train = avisos_detalle_train.apply(lambda row: clean_string(row, 'titulo'), axis=1)
avisos_detalle_desde_15_04 = avisos_detalle_desde_15_04.apply(lambda row: clean_string(row, 'titulo'), axis=1)

In [200]:
avisos_detalle_train = avisos_detalle_train.apply(lambda row: process_words(row, 'titulo'), axis=1)
avisos_detalle_desde_15_04 = avisos_detalle_desde_15_04.apply(lambda row: process_words(row, 'titulo'), axis=1)

In [201]:
avisos_detalle_train.head(3)

,idaviso,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,17903700,"[(enfermeras, 1)]","[(oeste, 2), (experiencia, 2), (años, 2), (imp...",Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
1,1000150677,"[(chofer, 1), (taxi, 1)]","[(tenes, 3), (estas, 2), (trabajo, 2), (años, ...",Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
2,1000872556,"[(operarios, 1), (planta, 1), (rubro, 1), (ele...","[(control, 6), (produccion, 4), (operarios, 2)...",Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

Elimino la columna denominacion_empresa

In [202]:
avisos_detalle_train.drop(['denominacion_empresa'], axis=1, inplace=True)
avisos_detalle_desde_15_04.drop(['denominacion_empresa'], axis=1, inplace=True)

In [203]:
avisos_detalle_train['tipo_full'] = (avisos_detalle_train['tipo_de_trabajo'].astype(str) == 'Full-time').astype(bool)
avisos_detalle_train['tipo_part'] = (avisos_detalle_train['tipo_de_trabajo'].astype(str) == 'Part-time').astype(bool)
avisos_detalle_train['tipo_otro'] = ((avisos_detalle_train['tipo_de_trabajo'].astype(str) != 'Part-time') & (avisos_detalle_train['tipo_de_trabajo'].astype(str) != 'Full-time')).astype(bool)

avisos_detalle_desde_15_04['tipo_full'] = (avisos_detalle_desde_15_04['tipo_de_trabajo'].astype(str) == 'Full-time').astype(bool)
avisos_detalle_desde_15_04['tipo_part'] = (avisos_detalle_desde_15_04['tipo_de_trabajo'].astype(str) == 'Part-time').astype(bool)
avisos_detalle_desde_15_04['tipo_otro'] = ((avisos_detalle_desde_15_04['tipo_de_trabajo'].astype(str) != 'Part-time') & (avisos_detalle_desde_15_04['tipo_de_trabajo'].astype(str) != 'Full-time')).astype(bool)

In [204]:
avisos_detalle_train.drop(['tipo_de_trabajo'], axis=1, inplace=True)
avisos_detalle_desde_15_04.drop(['tipo_de_trabajo'], axis=1, inplace=True)

In [205]:
avisos_detalle_train.head(5)

,idaviso,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,17903700,"[(enfermeras, 1)]","[(oeste, 2), (experiencia, 2), (años, 2), (imp...",Senior / Semi-Senior,Salud,True,False,False
1,1000150677,"[(chofer, 1), (taxi, 1)]","[(tenes, 3), (estas, 2), (trabajo, 2), (años, ...",Senior / Semi-Senior,Transporte,True,False,False
2,1000872556,"[(operarios, 1), (planta, 1), (rubro, 1), (ele...","[(control, 6), (produccion, 4), (operarios, 2)...",Senior / Semi-Senior,Producción,True,False,False
3,9240880,"[(productores, 1), (asesores, 1), (independien...","[(agente, 1), (oficial, 1), (busqueda, 1), (or...",Jefe / Supervisor / Responsable,Comercial,True,False,False
4,1002181678,"[(vendedor, 1), (viajante, 1), (tierra, 1), (f...","[(empresa, 1), (multinacional, 1), (opera, 1),...",Senior / Semi-Senior,Ventas,True,False,False

In [206]:
postulantes_educacion_train.dtypes

idpostulante      object
nombre_estudio     int64
estado_estudio     int64
dtype: object

In [207]:
postulantes_genero_edad_train.dtypes

idpostulante    object
sexo            object
edad             int64
dtype: object

In [208]:
postulantes_genero_edad_train.head(5)

  idpostulante  sexo  edad
0         NM5M   FEM    48
1         5awk   FEM    56
2         eo2p  MASC    37
3         1d2B  MASC    42
4         NRE5  MASC    45

In [209]:
postulantes_genero_edad_train.head(1)

  idpostulante sexo  edad
0         NM5M  FEM    48

In [210]:
avisos_detalle_train.dtypes

idaviso           int64
titulo           object
descripcion      object
nivel_laboral    object
nombre_area      object
tipo_full          bool
tipo_part          bool
tipo_otro          bool
dtype: object

Seguir transformando....

Exportamos a nuevos csv despues de transformar para evitar recalcular

In [211]:
postulantes_educacion_train.to_csv('../data/1_postulantes_educacion_train.csv', index=False, sep=',', encoding='utf-8')
postulantes_educacion_desde_15_04.to_csv('../data/1_postulantes_educacion_test.csv', index=False, sep=',', encoding='utf-8')

In [212]:
postulantes_genero_edad_train.to_csv('../data/2_postulantes_genero_edad_train.csv', index=False, sep=',', encoding='utf-8')
postulantes_genero_edad_desde_15_04.to_csv('../data/2_postulantes_genero_edad_test.csv', index=False, sep=',', encoding='utf-8')

In [213]:
vistas_train.to_csv('../data/3_vistas_train.csv', index=False, sep=',', encoding='utf-8')
vistas_desde_15_04.to_csv('../data/3_vistas_test.csv', index=False, sep=',', encoding='utf-8')

In [214]:
avisos_detalle_train.to_csv('../data/6_avisos_detalle_train.csv', index=False, sep=',', encoding='utf-8')
avisos_detalle_desde_15_04.to_csv('../data/6_avisos_detalle_test.csv', index=False, sep=',', encoding='utf-8')

# Juntamos todo en un solo DF

La idea es partir de aca para probar algoritmos

In [2]:
postulantes_educacion = pd.read_csv('../data/1_postulantes_educacion_train.csv', encoding='utf-8')
postulantes_genero_edad = pd.read_csv('../data/2_postulantes_genero_edad_train.csv', encoding='utf-8')
vistas = pd.read_csv('../data/3_vistas_train.csv', encoding='utf-8')
postulaciones = pd.read_csv('../data/4_postulaciones_train.csv', encoding='utf-8')
avisos_online = pd.read_csv('../data/5_avisos_online_train.csv', encoding='utf-8')
avisos_detalle = pd.read_csv('../data/6_avisos_detalle_train.csv', encoding='utf-8')

In [4]:
postulantes_educacion_test = pd.read_csv('../data/1_postulantes_educacion_test.csv', encoding='utf-8')
postulantes_genero_edad_test = pd.read_csv('../data/2_postulantes_genero_edad_test.csv', encoding='utf-8')
vistas_test = pd.read_csv('../data/3_vistas_test.csv', encoding='utf-8')
avisos_detalle_test = pd.read_csv('../data/6_avisos_detalle_test.csv', encoding='utf-8')

# Juntamos de los postulantes la informacion sobre educacion, genero, y edad

### Join con genero y edad

In [6]:
print(len(postulantes_genero_edad))
print(len(postulantes_genero_edad_test))

388618

NameError: name 'postulantes_genero_edad_test' is not defined

In [7]:
print(len(postulantes_genero_edad.drop_duplicates(['idpostulante'], keep='last', inplace=False)))
print(len(postulantes_genero_edad_test.drop_duplicates(['idpostulante'], keep='last', inplace=False)))

388618

NameError: name 'postulantes_genero_edad_test' is not defined

No hay registros repetidos en el set de genero y edad.

Joineamos ambos sets, descartamos los registros que no esten en ambos mediante un inner join.

In [6]:
postulantes = pd.merge(postulantes_educacion, postulantes_genero_edad, on='idpostulante', how='inner')
#postulantes_test = pd.merge(postulantes_educacion_test, postulantes_genero_edad_test, on='idpostulante', how='inner')

In [7]:
postulantes.head(1)

  idpostulante  nombre_estudio  estado_estudio  sexo  edad
0         1d2B               4               2  MASC    42

### Join con postulaciones (vistas por el momento no)

In [19]:
print(len(vistas))
print(len(postulaciones))

6682591
6604534

In [ ]:
postulaciones.head(1)

In [20]:
postulaciones_postulantes = pd.merge(postulaciones, postulantes, on='idpostulante', how='outer')

In [21]:
print(len(postulaciones_postulantes))

6646101

In [22]:
postulaciones_postulantes.tail(2)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad
6646099,NaN,DrXeJbA,NaN,2.0,1.0,MASC,25.0
6646100,NaN,VNr0VD2,NaN,3.0,1.0,FEM,47.0

In [23]:
postulaciones_postulantes.isnull().any()

idaviso              True
idpostulante        False
fechapostulacion     True
nombre_estudio       True
estado_estudio       True
sexo                 True
edad                 True
dtype: bool

In [24]:
postulaciones_postulantes.dropna(inplace=True)

In [ ]:
postulaciones_postulantes.isnull().any()

In [25]:
len(postulaciones_postulantes)

6323242

In [26]:
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad
0,1.112257e+09,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0

In [27]:
postulaciones_postulantes['idaviso'] = postulaciones_postulantes['idaviso'].astype(int)
postulaciones_postulantes.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0

In [28]:
postulaciones_postulantes.to_csv('../data/postulaciones_postulantes.csv', index=False, sep=',', encoding='utf-8')

In [ ]:
postulaciones_postulantes = pd.read_csv('../data/postulaciones_postulantes.csv', encoding='utf-8')

### Juntamos con los avisos

In [29]:
postulaciones_postulantes_avisos = pd.merge(postulaciones_postulantes, avisos_detalle, on='idaviso', how='left')

In [30]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0,"[('representantes', 1), ('atencion', 1), ('cli...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,Atención al Cliente,False,True,False

In [31]:
postulaciones_postulantes_avisos['postulado'] = True

In [32]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0,"[('representantes', 1), ('atencion', 1), ('cli...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,Atención al Cliente,False,True,False,True

In [33]:
postulaciones_postulantes_avisos.to_csv('../data/postulaciones_postulantes_avisos.csv', index=False, sep=',', encoding='utf-8')

In [3]:
postulaciones_postulantes_avisos = pd.read_csv('../data/postulaciones_postulantes_avisos.csv', encoding='utf-8')

In [4]:
print(len(postulaciones_postulantes_avisos))
postulaciones_postulantes_avisos.head(1)

6487256

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,1112257047,NM5M,2018-01-15 16:22:34,2.0,3.0,FEM,48.0,"[('representantes', 1), ('atencion', 1), ('cli...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,Atención al Cliente,False,True,False,True

### Generamos pares (idAviso, idPostulante) con postulado == False

In [8]:
postulantes_sample = postulantes.sample(10000)
for i in range(1,650):
    postulantes_sample = pd.concat([postulantes_sample, postulantes.sample(10000)])

In [9]:
print(len(postulantes_sample))

6500000

In [10]:
postulantes_sample.reset_index(inplace=True)
postulantes_sample.drop(columns = 'index', inplace = True)
postulantes_sample.head(1)

  idpostulante  nombre_estudio  estado_estudio  sexo  edad
0      VNP2OYd               2               3  MASC    25

In [ ]:
avisos_sample = avisos_detalle.sample(10000)
for i in range(1,650):
    avisos_sample = pd.concat([avisos_sample, avisos_detalle.sample(10000)])

In [ ]:
print(len(avisos_sample))

In [ ]:
avisos_sample.reset_index(inplace=True)
avisos_sample.drop(columns = 'index', inplace = True)
avisos_sample.head(1)

In [ ]:
no_postulados = postulantes_sample.join(avisos_sample)

In [ ]:
no_postulados['postulado'] = False
no_postulados.head(1)

In [ ]:
no_postulados.to_csv('../data/no_postulados.csv', index=False, sep=',', encoding='utf-8')

In [56]:
no_postulados = pd.read_csv('../data/no_postulados.csv', encoding='utf-8')

In [57]:
print(len(no_postulados))
no_postulados.head(1)

6500000

,idpostulante,nombre_estudio,estado_estudio,sexo,edad,idaviso,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,JBrG6JE,Secundario,Graduado,FEM,JBrG6JE,1112376251,"[('tecnico', 1), ('instalador', 1), ('alarmas'...","[('moto', 4), ('alarmas', 3), ('domiciliarias'...",Senior / Semi-Senior,Seguridad,True,False,False,False

In [58]:
postulaciones_postulantes_avisos.head(1)

,idaviso,idpostulante,fechapostulacion,nombre_estudio,estado_estudio,sexo,edad,titulo,descripcion,nivel_laboral,nombre_area,tipo_full,tipo_part,tipo_otro,postulado
0,1112257047,NM5M,2018-01-15 16:22:34,Secundario,Graduado,FEM,NM5M,"[('representantes', 1), ('atencion', 1), ('cli...","[('retencion', 3), ('atencion', 2), ('cliente'...",Otro,Atención al Cliente,False,True,False,True

In [59]:
training = pd.concat([no_postulados, postulaciones_postulantes_avisos])

De los random que generamos forzamos a todos con postulado=False, lo cual puede ser incorrecto. En caso de que el par (idAviso, idPostulante) exista en el postulaciones_postulantes_avisos deberia prevalecer ese. Para lograr esto con ambos sets concatenados, eliminamos los repetidos considerando estas dos columnas y nos quedamos con la primera repeticion (la del primer dataset, que es el que tiene la informacion real)

In [ ]:
training.drop_duplicates(subset = ['idaviso','idpostulante'], keep = 'first',inplace = True)

In [ ]:
print(len(training))

In [ ]:
training.sample(20)

In [ ]:
training.to_csv('../data/training.csv', index=False, sep=',', encoding='utf-8')

In [ ]:
print(len(training[training['postulado'] == True]))
print(len(training[training['postulado'] == False]))

## Set a predecir

In [86]:
data_predecir = pd.read_csv('../data/test_final_100k.csv', encoding='utf-8')