In [1]:
import numpy as np 
import pandas as pd

%matplotlib inline

# Luego de verificarlo, los datos del tp 1 y los que son hasta el 15 de abril no se solapan, por lo tanto concatenamos ambos sets

# Datos del TP 1

In [2]:
postulantes_educacion_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
postulantes_genero_edad_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
vistas_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_3_vistas.csv')
postulaciones_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_4_postulaciones.csv')
avisos_online_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_5_avisos_online.csv')
avisos_detalle_orig = pd.read_csv('../data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')

# Datos hasta 15 abril

In [3]:
postulantes_educacion_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_1_postulantes_educacion.csv')
postulantes_genero_edad_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_2_postulantes_genero_y_edad.csv')
vistas_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_3_vistas.csv')
postulaciones_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_4_postulaciones.csv')
avisos_online_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_5_avisos_online.csv')
avisos_detalle_hasta_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_hasta_15_abril/entrega6/fiuba_6_avisos_detalle.csv')

## Juntamos los datos del tp1 con los de hasta 15 abril y exportamos a un csv nuevo para trabajar con esos

In [9]:
print('Longitud original: ', len(postulantes_educacion_orig))
print('Longitud nuevo set: ', len(postulantes_educacion_hasta_15_04))
postulantes_educacion_train = pd.concat([postulantes_educacion_orig, postulantes_educacion_hasta_15_04])
print('Longitud concat: ', len(postulantes_educacion_train))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
postulantes_educacion_train.drop_duplicates(['idpostulante', 'nombre', 'estado'], keep='last')
print('Longitud unique: ', len(postulantes_educacion_train))
postulantes_educacion_train.to_csv('../data/1_postulantes_educacion_train.csv', index=False, sep=',', encoding='utf-8')

Longitud original:  298231
Longitud nuevo set:  407453
Longitud concat:  705684
Longitud unique:  705684

In [10]:
print('Longitud original: ', len(postulantes_genero_edad_orig))
print('Longitud nuevo set: ', len(postulantes_genero_edad_hasta_15_04))
postulantes_genero_edad_train = pd.concat([postulantes_genero_edad_orig, postulantes_genero_edad_hasta_15_04])
print('Longitud concat: ', len(postulantes_genero_edad_train))

# Eliminamos los duplicados. En este caso se considera duplicado si el idpostulante matchea
postulantes_genero_edad_train.drop_duplicates(['idpostulante'], keep='last')
print('Longitud unique: ', len(postulantes_genero_edad_train))
postulantes_genero_edad_train.to_csv('../data/2_postulantes_genero_edad_train.csv', index=False, sep=',', encoding='utf-8')

Longitud original:  200888
Longitud nuevo set:  297747
Longitud concat:  498635
Longitud unique:  498635

In [11]:
print('Longitud original: ', len(vistas_orig))
print('Longitud nuevo set: ', len(vistas_hasta_15_04))
vistas_train = pd.concat([vistas_orig, vistas_hasta_15_04])
print('Longitud concat: ', len(vistas_train))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
vistas_train.drop_duplicates(['idaviso', 'timestamp', 'idpostulante'], keep='last')
print('Longitud unique: ', len(vistas_train))
vistas_train.to_csv('../data/3_vistas_train.csv', index=False, sep=',', encoding='utf-8')

Longitud original:  961897
Longitud nuevo set:  5758686
Longitud concat:  6720583
Longitud unique:  6720583

In [12]:
print('Longitud original: ', len(postulaciones_orig))
print('Longitud nuevo set: ', len(postulaciones_hasta_15_04))
postulaciones_train = pd.concat([postulaciones_orig, postulaciones_hasta_15_04])
print('Longitud concat: ', len(postulaciones_train))

# Eliminamos los duplicados. En este caso se considera duplicado si estas 3 columnas matchean
postulaciones_train.drop_duplicates(['idaviso', 'idpostulante', 'fechapostulacion'], keep='last')
print('Longitud unique: ', len(postulaciones_train))
postulaciones_train.to_csv('../data/4_postulaciones_train.csv', index=False, sep=',', encoding='utf-8')

Longitud original:  3401623
Longitud nuevo set:  4909641
Longitud concat:  8311264
Longitud unique:  8311264

In [13]:
print('Longitud original: ', len(avisos_online_orig))
print('Longitud nuevo set: ', len(avisos_online_hasta_15_04))
avisos_online_train = pd.concat([avisos_online_orig, avisos_online_hasta_15_04])
print('Longitud concat: ', len(avisos_online_train))

# Eliminamos los duplicados. En este caso se considera duplicado si esta columna matchea
avisos_online_train.drop_duplicates(['idaviso'], keep='last')
print('Longitud unique: ', len(avisos_online_train))
avisos_online_train.to_csv('../data/5_avisos_online_train.csv', index=False, sep=',', encoding='utf-8')

Longitud original:  5028
Longitud nuevo set:  4858
Longitud concat:  9886
Longitud unique:  9886

In [14]:
print('Longitud original: ', len(avisos_detalle_orig))
print('Longitud nuevo set: ', len(avisos_detalle_hasta_15_04))
avisos_detalle_train = pd.concat([avisos_detalle_orig, avisos_detalle_hasta_15_04])
print('Longitud concat: ', len(avisos_detalle_train))

# Eliminamos los duplicados. En este caso se considera duplicado si matchean estas columnas (por no matchear todas)
avisos_detalle_train.drop_duplicates(['idaviso', 'titulo', 'descripcion', 'nombre_zona', 'ciudad', 'tipo_de_trabajo', 'nivel_laboral'], keep='last')
print('Longitud unique: ', len(avisos_detalle_train))
avisos_detalle_train.to_csv('../data/6_avisos_detalle_train.csv', index=False, sep=',', encoding='utf-8')

Longitud original:  13534
Longitud nuevo set:  18299
Longitud concat:  31833
Longitud unique:  31833

# Data para entrega

### TODO: exportar estos datos a un csv nuevo cuando empezemos a hacer entregas

# 338 faltantes

In [12]:
# Estos registros solo aparecen en el set a predecir
avisos_detalle_338_faltantes = pd.read_csv('../data/datos_navent_fiuba/338_faltantes/fiuba_6_avisos_detalle_missing_nivel_laboral.csv')

In [48]:
avisos_detalle_338_faltantes.head(1)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1001284385,1,Dejanos tu CV,<p><br />Si est&aacute;s interesado en ser par...,Corrientes,NaN,NaN,Full-time,NaN,Otros,Establecimiento Las Marías

# Datos desde 15 abril

In [14]:
postulantes_educacion_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_1_postulantes_educacion.csv')
postulantes_genero_edad_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_2_postulantes_genero_y_edad.csv')
vistas_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_3_vistas.csv')
avisos_detalle_desde_15_04 = pd.read_csv('../data/datos_navent_fiuba/fiuba_desde_15_abril/Fiuba desde 15 Abril/fiuba_6_avisos_detalle.csv')

In [15]:
avisos_detalle_desde_15_04[avisos_detalle_desde_15_04['idaviso'] == 1110092955]

Empty DataFrame
Columns: [idaviso, idpais, titulo, descripcion, nombre_zona, ciudad, mapacalle, tipo_de_trabajo, nivel_laboral, nombre_area, denominacion_empresa]
Index: []

# Set a predecir

In [16]:
data_predecir = pd.read_csv('../data/test_final_100k.csv')

In [17]:
data_predecir[data_predecir['idaviso'] == 1110092955]

      id     idaviso idpostulante
976  976  1110092955       NNWoQD
977  977  1110092955       131NMO
978  978  1110092955      PmLzrBb
979  979  1110092955       1plWkO
980  980  1110092955      dY9PAQM
981  981  1110092955       aG9Av5
982  982  1110092955      ak4V1MJ
983  983  1110092955      LNKpdab
984  984  1110092955      GNObK3e
985  985  1110092955      xk9ArrP
986  986  1110092955      W9OBP8l
987  987  1110092955      Nzjm99B

In [29]:
print(len(avisos_detalle_desde_15_04))

13798

# Juntamos los 338 registros que faltan con el set a predecir

In [18]:
avisos_detalle_desde_15_04 = pd.concat([avisos_detalle_desde_15_04, avisos_detalle_338_faltantes])

In [19]:
print(len(avisos_detalle_desde_15_04))

14136