In [1]:
import numpy as np 
import pandas as pd
import datetime # para convertir a dia de la semana
import calendar # idem

# plots
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
avisosDetalle = pd.read_csv('../data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')

In [6]:
avisosDetalle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13534 entries, 0 to 13533
Data columns (total 11 columns):
idaviso                 13534 non-null int64
idpais                  13534 non-null int64
titulo                  13534 non-null object
descripcion             13534 non-null object
nombre_zona             13534 non-null object
ciudad                  47 non-null object
mapacalle               872 non-null object
tipo_de_trabajo         13534 non-null object
nivel_laboral           13534 non-null object
nombre_area             13534 non-null object
denominacion_empresa    13529 non-null object
dtypes: int64(2), object(9)
memory usage: 1.1+ MB

In [20]:
avisosDetalle.columns

Index(['idaviso', 'idpais', 'titulo', 'descripcion', 'nombre_zona', 'ciudad',
       'mapacalle', 'tipo_de_trabajo', 'nivel_laboral', 'nombre_area',
       'denominacion_empresa'],
      dtype='object')

## Modalidades de trabajo (tiempo)

In [9]:
avisosDetalle.groupby('tipo_de_trabajo').count()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,nivel_laboral,nombre_area,denominacion_empresa
tipo_de_trabajo,,,,,,,,,,
Fines de Semana,14,14,14,14,14,0,1,14,14,14
Full-time,12339,12339,12339,12339,12339,35,746,12339,12339,12335
Part-time,863,863,863,863,863,2,90,863,863,862
Pasantia,63,63,63,63,63,0,10,63,63,63
Por Contrato,37,37,37,37,37,6,3,37,37,37
Por Horas,63,63,63,63,63,0,16,63,63,63
Primer empleo,3,3,3,3,3,0,0,3,3,3
Teletrabajo,110,110,110,110,110,0,1,110,110,110
Temporario,42,42,42,42,42,4,5,42,42,42

### TODO: visu

## Zona de los avisos

In [12]:
avisosDetalle.groupby('nombre_zona').count()

,idaviso,idpais,titulo,descripcion,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
nombre_zona,,,,,,,,,,
Buenos Aires (fuera de GBA),2,2,2,2,0,0,2,2,2,2
Capital Federal,876,876,876,876,4,871,876,876,876,876
GBA Oeste,2,2,2,2,0,1,2,2,2,2
Gran Buenos Aires,12654,12654,12654,12654,43,0,12654,12654,12654,12649

### TODO: visu

In [33]:
avisosDetalle.loc[avisosDetalle['mapacalle'].notnull()].count()

idaviso                 872
idpais                  872
titulo                  872
descripcion             872
nombre_zona             872
ciudad                    1
mapacalle               872
tipo_de_trabajo         872
nivel_laboral           872
nombre_area             872
denominacion_empresa    872
dtype: int64